<!-- <app-horizontal></app-horizontal> -->
<div class="row"></div>
<div id="layout-wrapper">
  
  <!-- Top Bar -->
  <app-topbar (mobileMenuButtonClicked)="onToggleMobileMenu()"></app-topbar>

  <app-horizontal-topbar></app-horizontal-topbar>
  <div class="content-wrapper">
    <div [ngClass]="{'sidebar': true, 'active': isSidebarActive}" (click)="toggleSidebar()">
      <app-sidebar></app-sidebar>
      
    </div>

  

  
   
  
   
  <div class="main-content">
    <div class="page-content">
      <div class="container-fluid">
        <!-- Main Content -->     
        
       
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- Footer -->
    <app-footer></app-footer>
  </div>
</div>
