<div class="live-preview">
  <div class="row gy-4">
    <div class="col-xxl-6 col-md-6">
      <div>
        <label for="basiInput" class="form-label">Basic Input</label>
        <input type="password" class="form-control" id="basiInput" />
      </div>
    </div>
    <!--end col-->
    <div class="col-xxl-6 col-md-6">
      <div>
        <label for="labelInput" class="form-label">Input with Label</label>
        <input type="password" class="form-control" id="labelInput" />
      </div>
    </div>
    <!--end col-->
    <div class="col-xxl-6 col-md-6">
      <div>
        <label for="placeholderInput" class="form-label"
          >Input with Placeholder</label
        >
        <input
          type="password"
          class="form-control"
          id="placeholderInput"
          placeholder="Placeholder"
        />
      </div>
    </div>
    <!--end col-->
    <div class="col-xxl-6 col-md-6">
      <div>
        <label for="valueInput" class="form-label">Input with Value</label>
        <input
          type="text"
          class="form-control"
          id="valueInput"
          value="Input value"
        />
      </div>
    </div>
    <!--end col-->
    <div class="col-xxl-6 col-md-6">
      <div>
        <label for="readonlyPlaintext" class="form-label"
          >Readonly Plain Text Input</label
        >
        <input
          type="text"
          class="form-control-plaintext"
          id="readonlyPlaintext"
          value="Readonly input"
          readonly
        />
      </div>
    </div>
    <!--end col-->
    <div class="col-xxl-6 col-md-6">
      <div>
        <label for="readonlyInput" class="form-label">Readonly Input</label>
        <input
          type="text"
          class="form-control"
          id="readonlyInput"
          value="Readonly input"
          readonly
        />
      </div>
    </div>
    <!--end col-->
    <div class="col-xxl-6 col-md-6">
      <div>
        <label for="disabledInput" class="form-label">Disabled Input</label>
        <input
          type="text"
          class="form-control"
          id="disabledInput"
          value="Disabled input"
          disabled
        />
      </div>
    </div>
    <!--end col-->
    <div class="col-xxl-6 col-md-6">
      <div>
        <label for="iconInput" class="form-label">Input with Icon</label>
        <div class="form-icon">
          <input
            type="email"
            class="form-control form-control-icon"
            id="iconInput"
            placeholder="example@gmail.com"
          />
          <i class="ri-mail-unread-line"></i>
        </div>
      </div>
    </div>
    <!--end col-->
    <div class="col-xxl-6 col-md-6">
      <div>
        <label for="iconrightInput" class="form-label"
          >Input with Icon Right</label
        >
        <div class="form-icon right">
          <input
            type="email"
            class="form-control form-control-icon"
            id="iconrightInput"
            placeholder="example@gmail.com"
          />
          <i class="ri-mail-unread-line"></i>
        </div>
      </div>
    </div>
    <!--end col-->
    <div class="col-xxl-6 col-md-6">
      <div>
        <label for="exampleInputdate" class="form-label">Input Date</label>
        <input type="date" class="form-control" id="exampleInputdate" />
      </div>
    </div>
    <!--end col-->
  </div>
  <!--end row-->
</div>
