 <div class="col-xl-12">
                            <div class="card">
                                <div class="card-header align-items-center d-flex">
                                    <h4 class="card-title mb-0 flex-grow-1">Notes</h4>
                                   
                                </div>

                                <div class="card-body">
                                    
                                    <div class="live-preview" >
                                        <div class="list-group">
                                            
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action"*ngFor="let notes of Notesdata;let i=index;">
                                                <div class="float-end">
                                                    {{notes.notestatus}}
                                                </div>
                                                <div class="d-flex mb-2 align-items-center">
                                                    <div class="flex-shrink-0">
                                                        <img [src]="notes.profile" alt="" class="avatar-sm rounded-circle">
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <h5 class="list-title fs-15 mb-1">{{notes.createdby}}</h5>
                                                        <p class="list-text mb-0 fs-12">{{notes.postedtime}}</p>
                                                    </div>
                                                </div>
                                                <p class="list-text mb-0">{{notes.notedescription}}</p>
                                            </a>
                                            <!-- <a href="javascript:void(0);" class="list-group-item list-group-item-action">
                                                <div class="float-end">
                                                    Rejected
                                                </div>
                                                <div class="d-flex mb-2 align-items-center">
                                                    <div class="flex-shrink-0">
                                                        <img src="assets/images/users/avatar-3.jpg" alt="" class="avatar-sm rounded-circle">
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <h5 class="list-title fs-15 mb-1">Declan Long</h5>
                                                        <p class="list-text mb-0 fs-12">12 min Ago</p>
                                                    </div>
                                                </div>
                                                <p class="list-text mb-0">Big July earthquakes confound zany experimental vow. My girl wove six dozen plaid jackets before she quit. Six big devils from Japan quickly forgot how to waltz. try again until it looks right, and each assumenda labore aes Homo nostrud organic, assumenda labore aesthetic magna elements, buttons, everything.</p>
                                            </a> -->
                                            <!-- <a href="javascript:void(0);" class="list-group-item list-group-item-action">
                                                <div class="float-end">
                                                    Successful
                                                </div>
                                                <div class="d-flex mb-2 align-items-center">
                                                    <div class="flex-shrink-0">
                                                        <img src="assets/images/users/avatar-4.jpg" alt="" class="avatar-sm rounded-circle">
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <h5 class="list-title fs-15 mb-1">Angela Bernier</h5>
                                                        <p class="list-text mb-0 fs-12">5 days Ago</p>
                                                    </div>
                                                </div>
                                                <p class="list-text mb-0">Just like in the image where we talked about using multiple fonts, you can see that the background in this graphic design is blurred. Whenever you put text on top of an image, it’s important that your viewers can understand the text, and sometimes that means applying a gaussian readable.</p>
                                            </a> -->
											<br>
											<textarea  placeholder="Please enter your note" id="" rows="3" required="" spellcheck="false" class="form-control"></textarea>
											<br>
											<div class="d-flex flex-wrap gap-2">
											<button type="button" class="btn btn-primary waves-effect waves-light btn_width">Save</button>
											<button type="button" class="btn btn-info waves-effect waves-light btn_width">Cancel</button>
											</div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div> 
                        
