<!-- Start Breadcrumbs -->
<!--<app-breadcrumbs
  title="Leads"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>-->
<!-- End Breadcrumbs -->
<div class="page_head head_sticky">
  <div class="row">
    <div class="col-xxl-4 col-lg-4">
		<h3 class="page_titile">Leads </h3>
     
    </div>
    <div class="col-xxl-8 col-lg-8">
      <div class="btn_direction">
        <div class="btn-group group_height" ngbDropdown>
          <button
            class="btn btn-light dropdown-toggle"
            type="button"
            id="dropdownMenuClickableInside"
            data-bs-toggle="dropdown"
            data-bs-auto-close="outside"
            aria-expanded="false"
            ngbDropdownToggle
          >
            ...
          </button>
          <ul
            class="dropdown-menu"
            ngbDropdownMenu
            aria-labelledby="dropdownMenuClickableInside"
          >
            <li>
              <a class="dropdown-item" href="javascript:void(0);">Menu item</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0);">Menu item</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0);">Menu item</a>
            </li>
          </ul>
        </div>
        <button
          _ngcontent-ng-c797134160=""
          type="button"
          class="btn btn-soft-primary waves-effect waves-light margin_btn"
        >
          Import Leads
        </button>
        
        <button
          _ngcontent-ng-c797134160=""
          type="button"
          class="btn btn-soft-primary waves-effect waves-light margin_btn"
        >
          Renew Lead
        </button>
        <button
          _ngcontent-ng-c797134160=""
          type="button"
          class="btn btn-soft-primary waves-effect waves-light margin_btn"
        >
          Convert
        </button>
		  <button
          _ngcontent-ng-c797134160=""
          type="button"
          class="btn btn-primary waves-effect waves-light margin_btn"
        >
          Add New Lead
        </button>
        <button
          _ngcontent-ng-c797134160=""
          type="button"
          class="btn btn-primary waves-effect waves-light margin_btn"
          
        >
          Edit
        </button>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-lg-12">
    <div class="card" id="leadsList">
      <div class="card-header border-0">
        <div class="row g-4 align-items-center">
          <div class="col-sm-3">
            <!-- <div class="search-box">
              <input
                type="text"
                name="searchTerm"
                class="form-control"
                placeholder="Search for..."
                [(ngModel)]="service.searchTerm"
              />
              <i class="ri-search-line search-icon"></i>
            </div> -->
          </div>
          <div class="col-sm-auto ms-auto">
            <div class="hstack gap-2">
              <button
                class="btn btn-soft-danger"
                id="remove-actions"
                style="display: none"
                (click)="deleteMultiple(deleteModel)"
              >
                <i class="ri-delete-bin-2-line"></i>
              </button>
              <button
                type="button"
                class="btn btn-info"
                data-bs-toggle="offcanvas"
                href="javascript:void(0);"
                (click)="openEnd(filtetcontent)"
              >
                <i class="ri-filter-3-line align-bottom me-1"></i> Fliters
              </button>
              <button
                type="button"
                class="btn btn-success add-btn"
                data-bs-toggle="modal"
                id="create-btn"
                data-bs-target=".exampleModalFullscreen" (click)="fullModal(fullDataModal)"
              >
                <i class="ri-add-line align-bottom me-1"></i> Add Leads
              </button>
              </div>
          </div>
        </div>
      </div>
	
		
		<div class="card-body">
        <div>
          <div class="table-responsive table-card">
            <table class="table">
              <thead>
                <tr class="bg-light text-muted">
                  <th scope="col" style="width: 50px">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="checkAll"
                        value="option"
                        [(ngModel)]="masterSelected"
                        (change)="checkUncheckAll($event)"
                      />
                    </div>
                  </th>
                  <th
                    class="sort"
                    leadsortable="name"
                    (leadsort)="onSort($event)"
                  >
                    Name
                  </th>
                  <th
                    class="sort"
                    leadsortable="name"
                    (leadsort)="onSort($event)"
                  >
                    Email
                  </th>
                  <th
                    class="sort"
                    leadsortable="score"
                    (leadsort)="onSort($event)"
                  >
                    Lead Owner
                  </th>
                  <th
                    class="sort"
                    leadsortable="phone"
                    (leadsort)="onSort($event)"
                  >
                    Phone
                  </th>
                  <th
                    class="sort"
                    leadsortable="location"
                    (leadsort)="onSort($event)"
                  >
                    Lead Source
                  </th>
                  <th
                    class="sort"
                    leadsortable="tags"
                    (leadsort)="onSort($event)"
                  >
                    Type
                  </th>
                  <th
                    class="sort"
                    leadsortable="date"
                    (leadsort)="onSort($event)"
                  >
                    Create Date
                  </th>
                  <th class="sort">Action</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="leads.length > 0">
                  <tr *ngFor="let data of leads" id="l_{{ data.leadId }}">
                    <th scope="row">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          name="checkAll"
                          value="{{ data.leadId }}"
                          [(ngModel)]="data.state"
                          (change)="onCheckboxChange($event)"
                        />
                      </div>
                    </th>
                    <td>
                      <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                          <img
                            src="{{ data.profile }}"
                            alt=""
                            class="avatar-xxs rounded-circle image_src object-fit-cover"
                          />
                        </div>
                        <div class="flex-grow-1 ms-2 name">
                          {{ data.leadName }}
                        </div>
                      </div>
                    </td>
                    <td>
                      <!-- <ngb-highlight
                        [result]="data.company"
                        [term]="service.searchTerm"
                      >
                      </ngb-highlight> -->
                      {{ data.email }}
                    </td>
                    <td>
                      {{ data.leadOwner }}
                    </td>
                    <td>
                      {{ data.phoneNumber }}
                    </td>
                    <td>
                      {{ data.leadSource }}
                    </td>
                    <td>
                      {{ data.type }}
                    </td>
                    <td>
                      <!-- <ngb-highlight
                          [result]="data.date | date : 'longDate'"
                          [term]="service.searchTerm"
                        ></ngb-highlight> -->
                      {{ data.CreatedOn }}
                    </td>
                    <!-- <td class="tags">
                      <div class="d-flex gap-1">
                        <span
                          class="badge bg-primary-subtle text-primary"
                          *ngFor="let tag of data.tags"
                          >{{ tag }}</span
                        >
                      </div>
                    </td> -->

                    <td>
                      <ul class="list-inline hstack gap-2 mb-0">
                        <li
                          class="list-inline-item"
                          ngbTooltip="View"
                          placement="top"
                        >
                          <a [routerLink]="'/leads/view/' + data.leadId"
                            ><i class="ri-eye-fill align-bottom text-muted"></i
                          ></a>
                        </li>
                        <li
                          class="list-inline-item"
                          ngbTooltip="Edit"
                          placement="top"
                        >
                          <a
                            class="edit-item-btn"
                            data-bs-toggle="modal"
                            [class.disabled]="!canWriteLeadsModule"
                            [routerLink]="
                              canWriteLeadsModule
                                ? '/leads/edit/' + data.leadId
                                : null"
                            ><i
                              class="ri-pencil-fill align-bottom text-muted"
                            ></i
                          ></a>
                        </li>
                        <li
                          class="list-inline-item me-0"
                          ngbTooltip="Delete"
                          placement="top"
                        >
                          <a
                            class="remove-item-btn"
                            data-bs-toggle="modal"
                            (click)="
                              canDeleteLeadsModule
                                ? confirm(deleteModel, data.leadId)
                                : null
                            "
                          >
                            <i
                              class="ri-delete-bin-fill align-bottom text-muted"
                            ></i>
                          </a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                </ng-container>
                <ng-container *ngIf="leads?.length === 0">
                  <tr>
                    <td colspan="9">
                      <ngx-skeleton-loader
                        count="10"
                        appearance="line"
                        animation="pulse"
                      >
                      </ngx-skeleton-loader>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
          <div
            class="row justify-content-md-between align-items-md-center mt-3"
          >
            <div class="col col-sm-6">
              <div
                class="dataTables_info mb-2"
                id="tickets-table_info"
                role="status"
                aria-live="polite"
              >
                Showing
                {{ service.startIndex }} to {{ service.endIndex }} of
                {{ service.totalRecords }}
                entries
              </div>
            </div>
            <!-- Pagination -->
            <div class="col col-sm-6">
              <div class="text-sm-right float-sm-end listjs-pagination">
                <ngb-pagination
                  [collectionSize]="(total | async)!"
                  [(page)]="service.page"
                  [pageSize]="service.pageSize"
                >
                </ngb-pagination>
              </div>
            </div>
            <!-- End Pagination -->
          </div>
          <div id="elmLoader">
            <!-- <div class="spinner-border text-primary avatar-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div> -->
          </div>
        </div>
        <ng-template #content role="document" let-modal>
          <div class="modal-header bg-light p-3">
            <h5 class="modal-title" id="exampleModalLabel">Add Lead</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              id="close-modal"
              (click)="modal.dismiss('Cross click')"
            ></button>
          </div>
          <form
            (ngSubmit)="saveUser()"
            [formGroup]="leadsForm"
            class="tablelist-form"
            autocomplete="off"
          >
            <div class="modal-body">
              <input type="hidden" name="id" formControlName="ids" />
              <div class="row g-3">
                <div class="col-lg-12">
                  <div class="text-center">
                    <div class="position-relative d-inline-block">
                      <div class="position-absolute bottom-0 end-0">
                        <label
                          for="lead-image-input"
                          class="mb-0"
                          data-bs-toggle="tooltip"
                          data-bs-placement="right"
                          title="Select Image"
                        >
                          <div class="avatar-xs cursor-pointer">
                            <div
                              class="avatar-title bg-light border rounded-circle text-muted"
                            >
                              <i class="ri-image-fill"></i>
                            </div>
                          </div>
                        </label>
                        <input
                          class="form-control d-none"
                          value=""
                          id="lead-image-input"
                          type="file"
                          accept="image/png, image/gif, image/jpeg"
                          (change)="fileChange($event)"
                        />
                      </div>
                      <div class="avatar-lg p-1">
                        <div class="avatar-title bg-light rounded-circle">
                          <img
                            src="assets/images/users/user-dummy-img.jpg"
                            id="lead-img"
                            class="avatar-md rounded-circle object-fit-cover"
                          />
                        </div>
                      </div>
                    </div>
                    <h5 class="fs-13 mt-3">Lead Image</h5>
                  </div>
                  <div>
                    <label for="name-field" class="form-label">Name</label>
                    <input
                      type="text"
                      id="customername-field"
                      class="form-control"
                      placeholder="Enter Name"
                      required
                      formControlName="name"
                      [ngClass]="{
                        'is-invalid': submitted && form['name'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && form['name'].errors"
                      class="invalid-feedback"
                      align="left"
                    >
                      <div *ngIf="form['name'].errors['required']">
                        Name is required
                      </div>
                    </div>
                  </div>
                </div>
                <!--end col-->
                <div class="col-lg-12">
                  <div>
                    <label for="company_name-field" class="form-label"
                      >Company Name</label
                    >
                    <input
                      type="text"
                      id="company_name-field"
                      class="form-control"
                      placeholder="Enter company name"
                      required
                      formControlName="company"
                      [ngClass]="{
                        'is-invalid': submitted && form['company'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && form['company'].errors"
                      class="invalid-feedback"
                      align="left"
                    >
                      <div *ngIf="form['company'].errors['required']">
                        Company Name is required
                      </div>
                    </div>
                  </div>
                </div>
                <!--end col-->
                <div class="col-lg-6">
                  <div>
                    <label for="leads_score-field" class="form-label"
                      >Leads Score</label
                    >
                    <input
                      type="text"
                      id="leads_score-field"
                      class="form-control"
                      placeholder="Enter lead score"
                      required
                      formControlName="score"
                      [ngClass]="{
                        'is-invalid': submitted && form['score'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && form['score'].errors"
                      class="invalid-feedback"
                      align="left"
                    >
                      <div *ngIf="form['score'].errors['required']">
                        Leads Score is required
                      </div>
                    </div>
                  </div>
                </div>
                <!--end col-->
                <div class="col-lg-6">
                  <div>
                    <label for="phone-field" class="form-label">Phone</label>
                    <input
                      type="text"
                      id="phone-field"
                      class="form-control"
                      placeholder="Enter phone no"
                      required
                      formControlName="phone"
                      [ngClass]="{
                        'is-invalid': submitted && form['phone'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && form['phone'].errors"
                      class="invalid-feedback"
                      align="left"
                    >
                      <div *ngIf="form['phone'].errors['required']">
                        Phone is required
                      </div>
                    </div>
                  </div>
                </div>
                <!--end col-->
                <div class="col-lg-12">
                  <div>
                    <label for="location-field" class="form-label"
                      >Location</label
                    >
                    <input
                      type="text"
                      id="location-field"
                      class="form-control"
                      placeholder="Enter location"
                      required

                      formControlName="location"
                      [ngClass]="{
                        'is-invalid': submitted && form['location'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && form['location'].errors"
                      class="invalid-feedback"
                      align="left"
                    >
                      <div *ngIf="form['location'].errors['required']">
                        Location is required
                      </div>
                    </div>
                  </div>
                </div>
                <!--end col-->
                <div class="col-lg-12">
                  <div>
                    <label for="taginput-choices" class="form-label"
                      >Tags</label
                    >
                    <ng-select
                      [items]="selectValue"
                      [multiple]="true"
                      formControlName="tags"
                      [ngClass]="{
                        'is-invalid': submitted && form['tags'].errors
                      }"
                    ></ng-select>
                    <div
                      *ngIf="submitted && form['tags'].errors"
                      class="invalid-feedback"
                      align="left"
                    >
                      <div *ngIf="form['tags'].errors['required']">
                        Tags is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div>
                    <label for="date-field" class="form-label"
                      >Created Date</label
                    >
                    <input
                      class="form-control flatpickr-input"
                      type="text"
                      placeholder="Select Date"
                      mwlFlatpickr
                      [altInput]="true"
                      [enableTime]="true"
                      [convertModelValue]="true"
                      [dateFormat]="'Y-m-d H:i'"
                      formControlName="date"
                      [ngClass]="{
                        'is-invalid': submitted && form['date'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && form['date'].errors"
                      class="invalid-feedback"
                      align="left"
                    >
                      <div *ngIf="form['date'].errors['required']">
                        Created Date is required
                      </div>
                    </div>
                  </div>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </div>
            <div class="modal-footer">
              <div class="hstack gap-2 justify-content-end">
                <button
                  type="button"
                  class="btn btn-light"
                  data-bs-dismiss="modal"
                  (click)="modal.close('Close click')"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-success" id="add-btn">
                  Add leads
                </button>
              </div>
            </div>
          </form>
        </ng-template>

        <!--end offcanvas-->
      </div>
		
      
    </div>
  </div>
  <!--end col-->
</div>
<!--end row-->

<!-- removeItemModal -->
<ng-template #deleteModel let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        id="btn-close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <div class="mt-2 text-center">
        <lord-icon
          src="https://cdn.lordicon.com/gsqxdxog.json"
          trigger="loop"
          colors="primary:#405189,secondary:#f06548"
          style="width: 90px; height: 90px"
        ></lord-icon>
        <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
          <h4>You are about to delete a contact ?</h4>
          <p class="text-muted mx-4 mb-0">
            Deleting your contact will remove all of your information from our
            database.
          </p>
        </div>
      </div>
      <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
        <button
          class="btn btn-link link-success fw-medium text-decoration-none"
          data-bs-dismiss="modal"
          id="deleteRecord-close"
          (click)="modal.close('Close click')"
        >
          <i class="ri-close-line me-1 align-middle"></i> Close
        </button>
        <button
          type="button"
          class="btn w-sm btn-danger"
          id="delete-product"
          (click)="deleteData(deleteId)"
          (click)="modal.close('Close click')"
        >
          Yes, Delete It!
        </button>
      </div>
    </div>
  </div>
  <!-- /.modal-content -->
</ng-template>

<!-- Right Sidebar Filter Section  -->
<ng-template #filtetcontent let-offcanvas>
  <div class="offcanvas-header bg-light">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Leads Fliters</h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
      (click)="offcanvas.dismiss('Cross click')"
    ></button>
  </div>
  <!--end offcanvas-header-->
  <form action="" class="d-flex flex-column justify-content-end h-100">
    <div class="offcanvas-body">
      <div class="mb-4">
        <label
          for="datepicker-range"
          class="form-label text-muted text-uppercase fw-semibold mb-3"
          >Date</label
        >
        <input
          class="form-control flatpickr-input"
          type="text"
          placeholder="Select Date"
          mwlFlatpickr
          [altInput]="true"
          id="isDate"
        />
      </div>
      <div class="mb-4">
        <label
          for="country-select"
          class="form-label text-muted text-uppercase fw-semibold mb-3"
          >Country</label
        >
        <select
          class="form-control"
          data-choices
          data-choices-multiple-remove="true"
          name="country-select"
          id="country-select"
        >
          <option value="" selected>Select country</option>
          <option value="Argentina">Argentina</option>
          <option value="Belgium">Belgium</option>
          <option value="Brazil">Brazil</option>
          <option value="Colombia">Colombia</option>
          <option value="Denmark">Denmark</option>
          <option value="France">France</option>
          <option value="Germany">Germany</option>
          <option value="Mexico">Mexico</option>
          <option value="Russia">Russia</option>
          <option value="Spain">Spain</option>
          <option value="Syria">Syria</option>
          <option value="United Kingdom">United Kingdom</option>
          <option value="United States of America">
            United States of America
          </option>
        </select>
      </div>
      <div class="mb-4">
        <label
          for="status-select"
          class="form-label text-muted text-uppercase fw-semibold mb-3"
          >Type</label
        >
        <div class="row g-2">
          <div class="col-lg-6">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="residential"
                value="residential"
              />
              <label class="form-check-label" for="residential"
                >Residential</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end offcanvas-body-->
    <div class="offcanvas-footer border-top p-3 text-center hstack gap-2">
      <button class="btn btn-light w-100">Clear Filter</button>
      <button
        type="submit"
        class="btn btn-success w-100"
        (click)="SearchData()"
      >
        Filters
      </button>
    </div>
    <!--end offcanvas-footer-->
  </form>
</ng-template>
<!--end offcanvas-->


<!-- Full screen modal content -->
<ng-template #fullDataModal let-modal>
  <div class="modal-content">
   
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalFullscreenLabel">Lead Add</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
              (click)="modal.dismiss('Close click')"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xxl-12 col-lg-12">
            <form [formGroup]="leadsForm"  (ngSubmit)="onSubmit()">
            <div class="card">
              
              <div class="card-body">
               
            <div class="live-preview">
                <div class="row gy-4">
                <div class="col-xxl-12 col-md-12"><h6 class="card-title mb-4">
                            <u>Lead Information</u
                            >
                          </h6></div>
                <div class="col-xxl-3 col-md-6">
                   <label>Lead Owner:  </label>
                  <select class="form-select" 
                  aria-label="select example" 
                  formControlName="leadOwner"
                  [ngClass]="{'is-invalid': submitted && form['leadOwner'].errors }" >
                  <option [ngValue]="null" [disabled]="true" >--Select--</option>
                    <option *ngFor="let c of leadOwnerArray" [ngValue]="c.id">{{ c.name }}</option>
                                                        </select>
                                                        <div *ngIf="submitted && form['leadOwner'].errors" class="invalid-feedback">
                                                          <div *ngIf="form['leadOwner'].errors['required']">Mobile is required</div>
                                                          <div *ngIf="form['leadOwner'].errors['pattern']">Mobile pattern is invalid</div>
                                                        </div>
                                                      
                  </div>	
                <div class="col-xxl-3 col-md-6">
                 <label>Phone Number :</label>
                            
                              <div class="input-group" data-input-flag>
                                <button class="btn btn-light border phone_btn" type="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="assets/images/flags/qa.svg" alt="flag img" height="20" class="country-flagimg rounded"><span class="ms-2 country-codeno">+ 974</span></button>
                                <input type="text" class="form-control rounded-end flag-input" value="" placeholder="Enter number" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"   formControlName="mobile"
                                [ngClass]="{'is-invalid': submitted && form['mobile'].errors }"/>
                                <div class="dropdown-menu w-100">
                                    <div class="p-2 px-3 pt-1 searchlist-input">
                                        <input type="text" class="form-control form-control-sm border search-countryList" placeholder="Search country name or country code..." />
                                    </div>
                                    <ul class="list-unstyled dropdown-menu-list mb-0"></ul>
                                </div>
                            </div>
                              <div *ngIf="submitted && form['mobile'].errors" class="invalid-feedback">
                                <div *ngIf="form['mobile'].errors['required']">Phone Number  is required</div>
                                <div *ngIf="form['mobile'].errors['pattern']">Phone Number  is invalid</div>
                              </div>
                            
                  </div>
                <div class="col-xxl-3 col-md-6">
                  
                              <label class="form-label">Alternate contact number:</label>
                              <div class="input-group" data-input-flag>
                                  <button class="btn btn-light border phone_btn" type="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="assets/images/flags/qa.svg" alt="flag img" height="20" class="country-flagimg rounded "><span class="ms-2 country-codeno">+ 974</span></button>
                                  <input type="text" class="form-control rounded-end flag-input" value="" placeholder="Enter number" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"   formControlName="alternateNumber"
                                  [ngClass]="{'is-invalid': submitted && form['alternateNumber'].errors}"/>
                                  <div class="dropdown-menu w-100">
                                      <div class="p-2 px-3 pt-1 searchlist-input">
                                          <input type="text" class="form-control form-control-sm border search-countryList" placeholder="Search country name or country code..." />
                                      </div>
                                      <ul class="list-unstyled dropdown-menu-list mb-0"></ul>
                                  </div>
                              </div>
                              <div *ngIf="submitted && form['alternateNumber'].errors" class="invalid-feedback">
                                <div *ngIf="form['alternateNumber'].errors['required']">Alternate is required</div>
                                <div *ngIf="form['alternateNumber'].errors['pattern']">Alternate number is invalid</div>
                              </div>
                             
                  </div>	
                <div class="col-xxl-3 col-md-6">
                
                              <label for="basic-url" class="form-label">Website Url:</label>
                              <div class="input-group">
                                  <span class="input-group-text" id="basic-addon3">www.example.com</span>
                                  <input type="text" class="form-control" id="basic-url"
                                      aria-describedby="basic-addon3"
                                      formControlName="website"
                                      [ngClass]="{'is-invalid': submitted && form['website'].errors}"
                                      >
                              </div>
                              <div *ngIf="submitted && form['website'].errors" class="invalid-feedback">
                                <div *ngIf="form['website'].errors['required']">Website Url is required</div>
                                <div *ngIf="form['website'].errors['pattern']">Website Url is invalid</div>
                              </div>
                  
                  </div>
                <div class="col-xxl-3 col-md-6">
                  <label>Annual Revenue:</label>
                              <input
                                type="text" class="form-control form-control-sm"
                                value=""
                                formControlName="annualRevenue"
                                [ngClass]="{'is-invalid': submitted && form['annualRevenue'].errors}"
                               
                              />
                              
                              <div *ngIf="submitted && form['annualRevenue'].errors" class="invalid-feedback">
                                <div *ngIf="form['annualRevenue'].errors['required']">Annual Revenue is required</div>
                                <div *ngIf="form['annualRevenue'].errors['pattern']">Annual Revenue is invalid</div>
                              </div>
                             
                  </div>
                <div class="col-xxl-3 col-md-6">
                  <label>Lead Name:</label>
                              <input  type="text" class="form-control form-control-sm"
                                value=""
                                formControlName="leadName"
                                [ngClass]="{'is-invalid': submitted && form['leadName'].errors}"
                              />
                              <div *ngIf="submitted && form['leadName'].errors" class="invalid-feedback">
                                <div *ngIf="form['leadName'].errors['required']">Lead Name is required</div>
                                <div *ngIf="form['leadName'].errors['pattern']">Lead Name is invalid</div>
                              </div>
                  </div>					
                <div class="col-xxl-3 col-md-6">
                  <label>Company:</label>
                              <input
                                type="text" class="form-control form-control-sm"
                                value=""
                                formControlName="company"
                                [ngClass]="{'is-invalid': submitted && form['company'].errors}"
                              />
                              <div *ngIf="submitted && form['company'].errors" class="invalid-feedback">
                                <div *ngIf="form['company'].errors['required']">Company Name is required</div>
                                <div *ngIf="form['company'].errors['pattern']">Company Name is invalid</div>
                              </div>
                  </div>
                <div class="col-xxl-3 col-md-6">
                  
                  <label>Lead Source:</label>
                              <select class="form-select" aria-label="select example"
                              formControlName="leadSource" 
                              [ngClass]="{'is-invalid': submitted && form['leadSource'].errors }" >
                              <option [ngValue]="null" [disabled]="true" >--Select--</option>
                              <option *ngFor="let c of leadSourceArray" [ngValue]="c.id">{{ c.name }}</option>
                                                        </select>

                                                        <div *ngIf="submitted && form['leadSource'].errors" class="invalid-feedback">
                                                          <div *ngIf="form['leadSource'].errors['required']">Lead Source is required</div>
                                                        
                                                        </div>
                  
                  </div>
                <div class="col-xxl-3 col-md-6">
                <label>Marital Status:</label>
                              <select class="form-select" aria-label="Disabled select example"
                              formControlName="maritalStatus"
                              [ngClass]="{'is-invalid': submitted && form['maritalStatus'].errors }"
                               >
                               <option [ngValue]="null" [disabled]="true" >--Select--</option>
                               <option *ngFor="let c of maritalStatusArray" [ngValue]="c.id">{{ c.name }}</option>
                                                        </select>
                                                        <div *ngIf="submitted && form['maritalStatus'].errors" class="invalid-feedback">
                                                          <div *ngIf="form['maritalStatus'].errors['required']">Marital Status is required</div>
                                                        
                                                        </div>
                  </div>
                <div class="col-xxl-3 col-md-6">
                 <label>Workplace and designation :</label>
                              <input 
                                type="text" class="form-control form-control-sm"
                                value=""
                                formControlName="designation"
                                [ngClass]="{'is-invalid': submitted && form['designation'].errors }"
                              />	
                              <div *ngIf="submitted && form['designation'].errors" class="invalid-feedback">
                                <div *ngIf="form['designation'].errors['required']">Workplace and designation is required</div>
                                <div *ngIf="form['designation'].errors['pattern']">Workplace and designation is invalid</div>
                              </div>
                  </div>				
                <div class="col-xxl-3 col-md-6">
                  <label>Lead Status:</label>
                              <select class="form-select" aria-label="Disabled select example"
                              formControlName="leadStatus"
                              [ngClass]="{'is-invalid': submitted && form['leadStatus'].errors }"
                               >
                               <option [ngValue]="null" [disabled]="true" >--Select--</option>
                               <option *ngFor="let c of leadStatusArray" [ngValue]="c.id">{{ c.name }}</option>
                                                        </select>
                                                        <div *ngIf="submitted && form['maritalStatus'].errors" class="invalid-feedback">
                                                          <div *ngIf="form['maritalStatus'].errors['required']">Lead Status is required</div>
                                                        
                                                        </div>
                  </div>
                <div class="col-xxl-3 col-md-6">
                  <label>Nationality:</label>
                              <select class="form-select" aria-label="Disabled select example" 
                              formControlName="nationality"
                              [ngClass]="{'is-invalid': submitted && form['nationality'].errors }"
                              >
                              <option [ngValue]="null" [disabled]="true" >--Select--</option>
                              <option *ngFor="let c of nationalityArray" [ngValue]="c.id">{{ c.name }}</option>
                                                            
                                                        </select>
                                                        <div *ngIf="submitted && form['nationality'].errors" class="invalid-feedback">
                                                          <div *ngIf="form['nationality'].errors['required']">Nationality is required</div>
                                                        
                                                        </div>
                  
                  </div>							
                <div class="col-xxl-3 col-md-6">
                  
                <label>Industry:</label>
                              <input
                                type="text" class="form-control form-control-sm"
                                value=""
                               formControlName="industry"
                               [ngClass]="{'is-invalid': submitted && form['industry'].errors }"
                              />	
                              <div *ngIf="submitted && form['industry'].errors" class="invalid-feedback">
                                <div *ngIf="form['industry'].errors['required']">Industry Name is required</div>
                                <div *ngIf="form['industry'].errors['pattern']">Industry Name is invalid</div>
                              </div>
                  </div>
                <div class="col-xxl-3 col-md-6">
                  <label>Preferred time to call:</label>
                              <input
                                type="text" class="form-control form-control-sm"
                                value=""
                                formControlName="preferredTimeToCall"
                                [ngClass]="{'is-invalid': submitted && form['preferredTimeToCall'].errors }"
                              />
                              <div *ngIf="submitted && form['preferredTimeToCall'].errors" class="invalid-feedback">
                                <div *ngIf="form['preferredTimeToCall'].errors['required']">Preferred time to call is required</div>
                                <div *ngIf="form['preferredTimeToCall'].errors['pattern']">Preferred time to call is invalid</div>
                              </div>
                  </div>
                <div class="col-xxl-12 col-md-12">
                  
                  <h6 class="card-title mb-4">
                            <u>Address Information</u
                            >
                          </h6>
                  </div>
                <div class="col-xxl-4 col-md-6">
                  <label class="form-label" for="des-info-description-input">Current address</label>
                            <textarea class="form-control" placeholder="Please enter a Address" id="des-info-description-input" rows="3" required="" spellcheck="false"
                            formControlName="currentAddress"
                            [ngClass]="{'is-invalid': submitted && form['currentAddress'].errors }" 
                            ></textarea>
                            <div *ngIf="submitted && form['currentAddress'].errors" class="invalid-feedback">
                              <div *ngIf="form['currentAddress'].errors['required']">Current address is required</div>
                              <div *ngIf="form['currentAddress'].errors['pattern']">Current address is invalid</div>
                            </div>
                  </div>	
              </div>
              </div>
			
				</div></div>
              <div class="clearfix"></div>


    <div class="card">
      <div class="card-body">
       <div class="live-preview">
                <div class="row gy-4">
          <div class="col-xxl-12 col-lg-12">
            <div class="live-preview">
              <div class="row gy-4">
                <div class="col-xxl-12 col-lg-12">
                  <h6 class="card-title mb-4">
                    <u>Property Prefference</u
                    ><a 
                      ><i class="mdi mdi-file-edit-outline ml-10"></i
                    ></a>
                  </h6>
                </div>

                <div class="col-xxl-2 col-lg-3">
                  <div class="form-check">
                    <input class="form-check-input" type="radio"
                      id="residential" ormControlName="propertyPreferences"
                      value="residential"
                      [checked]="currentlyChecked === check_box_type.APPLY_FOR_RESIDENTIAL" 
                      (click)="selectCheckBox(check_box_type.APPLY_FOR_RESIDENTIAL)"
                      checked = "checked"
                    />
                    <label class="form-check-label" for="residential"
                      >Residential</label
                    >
                  </div>
                </div>

                <div class="col-xxl-2 col-lg-3">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      id="commercial"
                      formControlName="propertyPreferences"
                      value="commercial"
                      [checked]="currentlyChecked === check_box_type.APPLY_FOR_COMMERCIAL"
                      (click)="selectCheckBox(check_box_type.APPLY_FOR_COMMERCIAL)"
                    />
                    <label class="form-check-label" for="commercial"
                      >Commercial</label
                    >
                  </div>
                </div>

                 <div class="col-xxl-8 col-lg-6"></div>
				  
				  
                 <div class="row gy-4" *ngIf="isCommercial" >
					 
					 
                  <div class="col-xxl-3 col-lg-6">
                    <label>Desired Property Location :</label>
                    <select
                      class="form-select"
                      aria-label="Disabled select example"
                     
                    >
                      <option selected="">Doha</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                  <div class="col-xxl-3 col-lg-6">
                    <label>Preferred Neighbourhood:</label>
                    <select
                      class="form-select"
                      aria-label="Disabled select example"
                     
                    >
                      <option selected="">Doha</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                 </div>
  <div class="row gy-4" *ngIf="isResidential" >
                <div class="col-xxl-3 col-lg-6">
                  <label>Desired Property Location :</label>
                  <select
                    class="form-select"
                    aria-label="Disabled select example"
                   
                  >
                    <option selected="">Doha</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
                <div class="col-xxl-3 col-lg-6">
                  <label>Preferred Neighbourhood:</label>
                  <select
                    class="form-select"
                    aria-label="Disabled select example"
                   
                  >
                    <option selected="">Doha</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
                <div class="col-xxl-3 col-lg-6">
                  <label>Number of Bedrooms:</label>
                  <select class="form-select"
                    aria-label="Disabled select example"
                    
                  >
                    <option selected="">2</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>

                <div class="col-xxl-3 col-lg-6">
                  <label>Number of Bathroom:</label>
                  <select
                    class="form-select"
                    aria-label="Disabled select example"
                    
                  >
                    <option selected="">2</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
                <div class="col-xxl-3 col-lg-6">
                  <label>Price Range:</label>
                  <select
                    class="form-select"
                    aria-label="Disabled select example"
                    
                  >
                    <option selected="">1000 - 2000 QAR</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
                <div class="col-xxl-3 col-lg-6">
                  <label>Building Type:</label>
                  <select
                    class="form-select"
                    aria-label="Disabled select example"
                   
                  >
                    <option selected="">Tower</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>

                <div class="col-xxl-3 col-lg-6">
                  <label>Unit Type:</label>
                  <select
                    class="form-select"
                    aria-label="Disabled select example"
                   
                  >
                    <option selected="">2BHK</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
                <div class="col-xxl-3 col-lg-6">
                  <label>Floor Preference:</label>
                  <select
                    class="form-select"
                    aria-label="Disabled select example"
                   
                  >
                    <option selected="">Second Floor</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
                <div class="col-xxl-3 col-lg-6">
                  <label>View Preference:</label>
                  <select
                    class="form-select"
                    aria-label="Disabled select example"
                    
                  >
                    <option selected="">Sea View</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>

                <div class="col-xxl-12 col-lg-12">
                  <h6 class="card-title mb-4 mt-4">
                    <u>Description</u
                    ><a 
                      ><i class="mdi mdi-file-edit-outline ml-10"></i
                    ></a>
                  </h6>
                </div>
	  
              </div>
				  
				  
                <div class="col-xxl-12 col-lg-12">
                          <textarea
                    style="width: 90% !important"
                    
                    value="Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry."
                    rows="5"
                    cols="40"
                  ></textarea>
                </div>
                <div class="col-xxl-4 col-lg-6"></div>
              </div>
            </div>
					</div>
        </div>
      </div></div>
    </div>

            
           
            
             </form> 
            </div>
          </div>
      </div>
      <div class="modal-footer">
          <a href="javascript:void(0);" class="btn btn-link link-success fw-medium" data-bs-dismiss="modal"
              (click)="modal.close('Close click')"><i class="ri-close-line me-1 align-middle"></i> Close</a>
         
          <button type="button"  (click)="submitForm()" class="btn btn-primary ">Save changes</button>
      </div>
   
  </div><!-- /.modal-content -->
</ng-template><!-- /.modal-dialog -->
