<div class="page_head head_sticky">
  <div class="row">
    <div class="col-xxl-4 col-lg-4">
      <h3 class="page_titile">{{ leadsInformation.leadName }}</h3>
      <h6>#{{ leadsInformation.leadId }} {{ leadsInformation.CreatedOn }}</h6>
    </div>
    <div class="col-xxl-8 col-lg-8">
      <div class="btn_direction">
        <div class="btn-group group_height" ngbDropdown>
          <button
            class="btn btn-light dropdown-toggle"
            type="button"
            id="dropdownMenuClickableInside"
            data-bs-toggle="dropdown"
            data-bs-auto-close="outside"
            aria-expanded="false"
            ngbDropdownToggle
          >
            ...
          </button>
          <ul
            class="dropdown-menu"
            ngbDropdownMenu
            aria-labelledby="dropdownMenuClickableInside"
          >
            <li>
              <a class="dropdown-item" href="javascript:void(0);">Menu item</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0);">Menu item</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0);">Menu item</a>
            </li>
          </ul>
        </div>
        <button
          _ngcontent-ng-c797134160=""
          type="button"
          class="btn btn-soft-primary waves-effect waves-light margin_btn"
        >
          Import Leads
        </button>
       
        <button
          _ngcontent-ng-c797134160=""
          type="button"
          class="btn btn-soft-primary waves-effect waves-light margin_btn"
        >
          Renew Lead
        </button>
        <button
          _ngcontent-ng-c797134160=""
          type="button"
          class="btn btn-soft-primary waves-effect waves-light margin_btn"
        >
          Convert
        </button>
		  
		   <button
          _ngcontent-ng-c797134160=""
          type="button"
          class="btn btn-primary waves-effect waves-light margin_btn"
        >
          Add New Lead
        </button>
        <button
          _ngcontent-ng-c797134160=""
          type="button"
          class="btn btn-primary waves-effect waves-light margin_btn"
          (click)="openEditLeadsModal()"
        >
          Edit
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xxl-11 col-lg-11">
    <div #leadSection id="section-1" class="card">
      <div class="card-body">
        <div class="live-preview">
          <div class="row gy-4">
            <div class="col-xxl-12 col-md-12">
              <h6 class="card-title mb-4">
                <u>Lead Information</u>
              </h6>
            </div>
            <div class="col-xxl-4 col-md-6 margin_top">
              <label>Lead Owner:</label>
              <p>Mariana John</p>
            </div>
            <div class="col-xxl-4 col-md-6 margin_top">
              <label>Mobile:</label>
              <p>55132657</p>
            </div>
            <div class="col-xxl-4 col-md-6 margin_top">
              <label>Alternate Number:</label>
              <p>669680823</p>
            </div>
            <div class="col-xxl-4 col-md-6 margin_top">
              <label>Website:</label>
              <p><a href="https//qnb.com">https//qnb.com</a></p>
            </div>
            <div class="col-xxl-4 col-md-6 margin_top">
              <label>Annual Revenue:</label>
              <p>false</p>
            </div>
            <div class="col-xxl-4 col-md-6 margin_top">
              <label>Created By:</label>
              <p>Mariana John <span class="modified">04Oct2023 10:34 Am</span></p>
            </div>
            <div class="col-xxl-4 col-md-6 margin_top">
              <label>Lead Name:</label>
              <p>Muhammed Al Jasser</p>
            </div>
            <div class="col-xxl-4 col-md-6 margin_top">
              <label>Company:</label>
              <p>Qatar National Bank</p>
            </div>
            <div class="col-xxl-4 col-md-6 margin_top">
              <label>Lead Source:</label>
              <p>Facebook</p>
            </div>
            <div class="col-xxl-4 col-md-6 margin_top">
              <label>Marital Status:</label>
              <p>Married</p>
            </div>
            <div class="col-xxl-4 col-md-6 margin_top">
              <label>Modified By:</label>
              <p>Mariana John <span class="modified">04Oct2023 10:34 Am</span></p>
            </div>
            <div class="col-xxl-4 col-md-6 margin_top">
              <label>Designation:</label>
              <p>Manager</p>
            </div>
            <div class="col-xxl-4 col-md-6 margin_top">
              <label>Lead Status:</label>
              <p>New</p>
            </div>
            <div class="col-xxl-4 col-md-6 margin_top">
              <label>Nationality:</label>
              <p>Indian</p>
            </div>
            <div class="col-xxl-4 col-md-6 margin_top">
              <label>Industry:</label>
              <p>Bank</p>
            </div>
            <div class="col-xxl-4 col-md-6 margin_top">
              <label>Preferred time to call:</label>
              <p>Weekend after 10 pm</p>
            </div>
            <div class="col-xxl-12 col-md-12 margin_top">
              <h6 class="card-title mb-4 margin_top">
                <u>Address Information</u>
              </h6>
            </div>
            <div #propertySection></div>
            <div class="col-xxl-6 col-md-6 margin_top">
              <label class="form-label" for="des-info-description-input"
                >Address</label
              >
              <textarea
                class="form-control"
                placeholder="Please enter a Address"
                id="des-info-description-input"
                rows="3"
                required=""
                spellcheck="false"
              ></textarea>
              <div class="invalid-feedback">Please enter a Address</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--<div class="card">
          
          <div class="card-body">
            <div class="live-preview">
                    <div class="row gy-4">
                    <div class="col-xxl-12 col-md-12"><h6 class="card-title mb-4">
                        <u>Lead Information</u
                        ><a (click)="leadInfoReadMode = !leadInfoReadMode"
                          ><i class="mdi mdi-file-edit-outline ml-10"></i
                        ></a>
                      </h6></div>
                    <div class="col-xxl-4 col-md-6">
                         <label>Lead Owner:</label>
                        <select class="form-select" aria-label="Disabled select example" disabled="">
                                                        <option selected="">Mariana John</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                        </div>	
                    <div class="col-xxl-4 col-md-6">
                     <label>Mobile:</label>
                          <input
                            type="number" class="form-control form-control-sm"
                            value="{{ leadsInformation.phoneNumber }}"
                            [disabled]="leadInfoReadMode"
                          />	
                        </div>
                    <div class="col-xxl-4 col-md-6">
                        
                        <label>Alternate Number:</label>
                          <input class="form-control form-control-sm"
                            type="number"
                            value="{{ leadsInformation.alternateNumber }}"
                            [disabled]="leadInfoReadMode"
                          />
                        </div>	
                    <div class="col-xxl-4 col-md-6">
                        <label>Website:</label>
                          <input
                            type="text" class="form-control form-control-sm"
                            value="{{ leadsInformation.website }}"
                            [disabled]="leadInfoReadMode"
                          />
                        
                        </div>
                    <div class="col-xxl-4 col-md-6">
                        <label>Annual Revenue:</label>
                          <input
                            type="text" class="form-control form-control-sm"
                            value="{{ leadsInformation.annualRevenue }}"
                            [disabled]="leadInfoReadMode"
                          />
                        </div>
                    <div class="col-xxl-4 col-md-6">
                        <label>Created By:</label>
                          <select class="form-select" aria-label="Disabled select example" disabled="">
                                                        <option selected="">Mariana John</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                        
                        </div>
                    <div class="col-xxl-4 col-md-6">
                        <label>Lead Name:</label>
                          <input  type="text" class="form-control form-control-sm"
                            value="{{ leadsInformation.leadName }}"
                            [disabled]="leadInfoReadMode"
                          />
                        </div>					
                    <div class="col-xxl-4 col-md-6">
                        <label>Company:</label>
                          <input
                            type="text" class="form-control form-control-sm"
                            value="{{ leadsInformation.company }}"
                            [disabled]="leadInfoReadMode"
                          />
                        </div>
                    <div class="col-xxl-4 col-md-6">
                        
                        <label>Lead Source:</label>
                          <select class="form-select" aria-label="Disabled select example" disabled="">
                                                        <option selected="">Facebook</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                        
                        </div>
                    <div class="col-xxl-4 col-md-6">
                    <label>Marital Status:</label>
                          <select class="form-select" aria-label="Disabled select example" disabled="">
                                                        <option selected="">Married</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                        </div>
                    <div class="col-xxl-4 col-md-6">
                         <label>Modified By:</label>
                        <select class="form-select" aria-label="Disabled select example" disabled="">
                                                        <option selected="">Mariana John</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                        </div>
                    <div class="col-xxl-4 col-md-6">
                     <label>Designation:</label>
                          <input 
                            type="text" class="form-control form-control-sm"
                            value="{{ leadsInformation.designation }}"
                            [disabled]="leadInfoReadMode"
                          />	
                        
                        </div>				
                    <div class="col-xxl-4 col-md-6">
                        <label>Lead Status:</label>
                          <select class="form-select" aria-label="Disabled select example" disabled="">
                                                        <option selected="">New</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                        </div>
                    <div class="col-xxl-4 col-md-6">
                        <label>Nationality:</label>
                          <select class="form-select" aria-label="Disabled select example" disabled="">
                                                        <option selected="">Indian</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                        
                        </div>							
                    <div class="col-xxl-4 col-md-6">
                        
                    <label>Industry:</label>
                          <input
                            type="text" class="form-control form-control-sm"
                            value="{{ leadsInformation.industry }}"
                            [disabled]="leadInfoReadMode"
                          />	
                        </div>
                    <div class="col-xxl-4 col-md-6">
                        <label>Preferred time to call:</label>
                          <input
                            type="text" class="form-control form-control-sm"
                            value="{{ leadsInformation.preferredTimeToCall }}"
                            [disabled]="leadInfoReadMode"
                          />
                        
                        </div>
                    <div class="col-xxl-12 col-md-12">
                        
                        <h6 class="card-title mb-4">
                        <u>Address Information</u
                        ><a (click)="addressReadMode = !addressReadMode"
                          ><i class="mdi mdi-file-edit-outline ml-10"></i
                        ></a>
                      </h6>
                        </div>
                    <div class="col-xxl-4 col-md-6">
                        <label class="form-label" for="des-info-description-input">Address</label>
                        <textarea class="form-control" placeholder="Please enter a Address" id="des-info-description-input" rows="3" required="" spellcheck="false"></textarea>
                         <div class="invalid-feedback">Please enter a Address</div>
                        </div>	
                </div>
                </div>
            
            
                </div>
            
                        </div>-->

    <!--card end-->
  </div>

  <div class="col-xxl-1 col-lg-1">
    <ul class="sticky_side_menu">
      <li>
        <a
          (click)="gotoLead()"
          class="js-anchor-link"
          data-bs-toggle="tooltip"
          data-bs-trigger="hover"
		  data-bs-placement="left"
          ngbTooltip="Lead Information"
          ><i class="las la-info-circle"></i
        ></a>
      </li>
      <li>
        <a
          (click)="gotToProperty()"
          class="js-anchor-link"
          data-bs-toggle="tooltip"
          data-bs-trigger="hover"
          data-bs-placement="left"
          ngbTooltip="Property Prefference"
          ><i class="las la-building"></i
        ></a>
      </li>
      <!-- <li>
        <a
          (click)="goToNote()"
          class="js-anchor-link"
          data-bs-toggle="tooltip"
          data-bs-trigger="hover"
          data-bs-placement="left"
          ngbTooltip="Note"
          ><i class="las la-map-marker"></i
        ></a>
      </li> -->
      <li>
        <a
          (click)="goToNote()"
          class="js-anchor-link"
          data-bs-toggle="tooltip"
          data-bs-trigger="hover"
          data-bs-placement="left"
          ngbTooltip="Notes"
          ><i class="las la-comment"></i
        ></a>
      </li>
      <li>
        <a
          (click)="goToAttachment()"
          class="js-anchor-link"
          data-bs-trigger="hover"
          data-bs-placement="left"
          ngbTooltip="Attachment"
          ><i class="las la-paperclip"></i
        ></a>
      </li>
      <li>
        <a
          (click)="goToTimeline()"
          class="js-anchor-link"
          data-bs-trigger="hover"
          data-bs-placement="left"
          ngbTooltip="Timeline"
          ><i class="las la-route"></i
        ></a>
      </li>
      <li>
        <a
          (click)="goToActivity()"
          class="js-anchor-link"
          data-bs-toggle="tooltip"
          data-bs-trigger="hover"
          data-bs-placement="left"
          ngbTooltip="Activities"
          ><i class="las la-file-alt"></i
        ></a>
      </li>
      <!-- <li>
          <a href="#section-7" class="js-anchor-link"
            ><i class="las la-comment-alt"></i
          ></a>
        </li> -->
    </ul>
  </div>

  <div class="col-xxl-11 col-lg-11">
    <div id="section-2" class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-xxl-12 col-lg-12">
            <div class="live-preview">
              <div class="row gy-4">
                <div class="col-xxl-12 col-lg-12">
                  <h6 class="card-title mb-4">
                    <u>Property Prefference</u>
                  </h6>
                </div>

                <div class="col-xxl-2 col-lg-3 margin_top">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="residential"
                      value="residential"
                      checked
                    />
                    <label class="form-check-label" for="residential"
                      >Residential</label
                    >
                  </div>
                </div>

                <div class="col-xxl-2 col-lg-3 margin_top">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="commercial"
                      value="commercial"
                    />
                    <label class="form-check-label" for="commercial"
                      >Commercial</label
                    >
                  </div>
                </div>
                <div class="col-xxl-8 col-lg-6"></div>

                <div class="col-xxl-4 col-lg-6">
                  <label>Desired Property Location :</label>
                  <p>Doha</p>
                </div>
                <div class="col-xxl-4 col-lg-6">
                  <label>Preferred Neighbourhood:</label>
                  <p>Doha</p>
                </div>
                <div class="col-xxl-4 col-lg-6">
                  <label>Number of Bedrooms:</label>
                  <p>2</p>
                </div>

                <div class="col-xxl-4 col-lg-6 margin_top">
                  <label>Number of Bathroom:</label>
                  <p>2</p>
                </div>
                <div class="col-xxl-4 col-lg-6 margin_top">
                  <label>Price Range:</label>
                  <p>1000 - 2000 QAR</p>
                </div>
                <div class="col-xxl-4 col-lg-6 margin_top">
                  <label>Building Type:</label>
                  <p>Tower</p>
                </div>

                <div class="col-xxl-4 col-lg-6 margin_top">
                  <label>Unit Type:</label>
                  <p>2BHK</p>
                </div>
                <div class="col-xxl-4 col-lg-6 margin_top">
                  <label>Floor Preference:</label>
                  <p>Second Floor</p>
                </div>
                <div class="col-xxl-4 col-lg-6 margin_top">
                  <label>View Preference:</label>
                  <p>Sea View</p>
                </div>

                <div class="col-xxl-12 col-lg-12 margin_top">
                  <h6 class="card-title mb-4 mt-4">
                    <u>Description</u>
                  </h6>
                </div>
                <div #noteSection></div>
                <div class="col-xxl-12 col-lg-12 margin_top">
                  <p *ngIf="descriptionReadMode">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a
                    type specimen book. It has survived not only five centuries,
                    but also the leap into electronic typesetting, remaining
                    essentially unchanged. It was popularised in the 1960s with
                    the release of Letraset sheets containing Lorem Ipsum
                    passages, and more recently with desktop publishing software
                    like Aldus PageMaker including versions of Lorem Ipsum.
                  </p>
                  <textarea
                    style="width: 90% !important"
                    *ngIf="!descriptionReadMode"
                    value="Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry."
                    rows="5"
                    cols="40"
                  ></textarea>
                </div>
                <div class="col-xxl-4 col-lg-6"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--<div class="card">
          
            <div class="card-body">
            <div class="row">
              <div class="col-xxl-12 col-lg-12">
               
                    <div class="live-preview">
                    <div class="row gy-4">
            <div class="col-xxl-12 col-lg-12">
            <h6 class="card-title mb-4">
                        <u>Property Prefference</u
                        ><a (click)="leadInfoReadMode = !leadInfoReadMode"
                          ><i class="mdi mdi-file-edit-outline ml-10"></i
                        ></a>
                      </h6>
                        </div>
                        
                            <div class="col-xxl-2 col-lg-3">
                            <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            id="residential"
                            value="residential"
                            checked
                          />
                          <label class="form-check-label" for="residential"
                            >Residential</label
                          >
                        </div>
                            
                            </div>	
                        
                            <div class="col-xxl-2 col-lg-3">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            id="commercial"
                            value="commercial"
                          />
                          <label class="form-check-label" for="commercial"
                            >Commercial</label
                          >
                        </div>
                        </div>
                        <div class="col-xxl-8 col-lg-6"></div>
                        
                        
                        <div class="col-xxl-4 col-lg-6">
                        <label>Desired Property Location :</label>
                          <select class="form-select" aria-label="Disabled select example" disabled="">
                                                        <option selected="">Doha</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                        
                        </div>
                        <div class="col-xxl-4 col-lg-6">
                        <label>Preferred Neighbourhood:</label>
                          <select class="form-select" aria-label="Disabled select example" disabled="">
                                                        <option selected="">Doha</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                        
                        </div>
                        <div class="col-xxl-4 col-lg-6">
                            <label>Number of Bedrooms:</label>
                        <select class="form-select" aria-label="Disabled select example" disabled="">
                                                        <option selected="">2</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                        </div>
                        
                        <div class="col-xxl-4 col-lg-6">
                        <label>Number of Bathroom:</label>
                        <select class="form-select" aria-label="Disabled select example" disabled="">
                                                        <option selected="">2</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                        </div>
                        <div class="col-xxl-4 col-lg-6">
                        <label>Price Range:</label>
                        <select class="form-select" aria-label="Disabled select example" disabled="">
                                                        <option selected="">1000 - 2000 QAR</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                        </div>
                        <div class="col-xxl-4 col-lg-6">
                            <label>Building Type:</label>
                        <select class="form-select" aria-label="Disabled select example" disabled="">
                                                        <option selected="">Tower</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                        </div>
                        
                        <div class="col-xxl-4 col-lg-6">
                        <label>Unit Type:</label>
                        <select class="form-select" aria-label="Disabled select example" disabled="">
                                                        <option selected="">2BHK</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                        </div>
                        <div class="col-xxl-4 col-lg-6">
                        <label>Floor Preference:</label>
                        <select class="form-select" aria-label="Disabled select example" disabled="">
                                                        <option selected="">Second Floor</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                        </div>
                        <div class="col-xxl-4 col-lg-6">
                        <label>View Preference:</label>
                        <select class="form-select" aria-label="Disabled select example" disabled="">
                                                        <option selected="">Sea View</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                        </div>
                        
                        <div class="col-xxl-12 col-lg-12"><h6 class="card-title mb-4 mt-4">
                        <u>Description</u
                        ><a (click)="descriptionReadMode = !descriptionReadMode"
                          ><i class="mdi mdi-file-edit-outline ml-10"></i
                        ></a>
                      </h6></div>
                        <div class="col-xxl-12 col-lg-12">
                         <p *ngIf="descriptionReadMode">
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a
                        type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining
                        essentially unchanged. It was popularised in the 1960s with
                        the release of Letraset sheets containing Lorem Ipsum
                        passages, and more recently with desktop publishing software
                        like Aldus PageMaker including versions of Lorem Ipsum.
                      </p>
                      <textarea
                        style="width: 90% !important"
                        *ngIf="!descriptionReadMode"
                        value="Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry."
                        rows="5"
                        cols="40"
                      ></textarea>
                            
                            
                        </div>
                        <div class="col-xxl-4 col-lg-6"></div>
                        
                        
            
            
            </div>
            </div>
            </div>
            </div>
            </div>
            
            
            
            </div>-->
  </div>

  <div class="col-xl-11">
    <div id="section-3" class="card">
      <div class="card-header align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">Notes</h4>
      </div>
      <!-- end card header -->

      <div class="card-body">
        <div class="live-preview">
          <div class="list-group">
            <a
              href="javascript:void(0);"
              class="list-group-item list-group-item-action"
            >
              <!-- <div class="float-end">Pending</div> -->
              <div class="d-flex mb-2 align-items-center">
                <div class="flex-shrink-0">
                  <img
                    src="assets/images/users/avatar-2.jpg"
                    alt=""
                    class="avatar-sm rounded-circle"
                  />
                </div>
                <div class="flex-grow-1 ms-3">
                  <h5 class="list-title fs-15 mb-1">Dominic Charlton</h5>
                  <p class="list-text mb-0 fs-12">12 min Ago</p>
                </div>
              </div>
              <p class="list-text mb-0">
                Trust fund seitan letterpress, keytar raw denim keffiyeh etsy
                art party before they sold out master cleanse gluten-free squid
                scenester freegan cosby sweater. Fanny pack portland seitan DIY,
                art party locavore wolf cliche high life echo park Austin.
              </p>
            </a>
            <a
              href="javascript:void(0);"
              class="list-group-item list-group-item-action"
            >
              <!-- <div class="float-end">Rejected</div> -->
              <div class="d-flex mb-2 align-items-center">
                <div class="flex-shrink-0">
                  <img
                    src="assets/images/users/avatar-3.jpg"
                    alt=""
                    class="avatar-sm rounded-circle"
                  />
                </div>
                <div class="flex-grow-1 ms-3">
                  <h5 class="list-title fs-15 mb-1">Declan Long</h5>
                  <p class="list-text mb-0 fs-12">12 min Ago</p>
                </div>
              </div>
              <p class="list-text mb-0">
                Big July earthquakes confound zany experimental vow. My girl
                wove six dozen plaid jackets before she quit. Six big devils
                from Japan quickly forgot how to waltz. try again until it looks
                right, and each assumenda labore aes Homo nostrud organic,
                assumenda labore aesthetic magna elements, buttons, everything.
              </p>
            </a>
            <a
              href="javascript:void(0);"
              class="list-group-item list-group-item-action"
            >
              <!-- <div class="float-end">Successful</div> -->
              <div class="d-flex mb-2 align-items-center">
                <div class="flex-shrink-0">
                  <img
                    src="assets/images/users/avatar-4.jpg"
                    alt=""
                    class="avatar-sm rounded-circle"
                  />
                </div>
                <div class="flex-grow-1 ms-3">
                  <h5 class="list-title fs-15 mb-1">Angela Bernier</h5>
                  <p class="list-text mb-0 fs-12">5 days Ago</p>
                </div>
              </div>

              <p class="list-text mb-0">
                Just like in the image where we talked about using multiple
                fonts, you can see that the background in this graphic design is
                blurred. Whenever you put text on top of an image, it’s
                important that your viewers can understand the text, and
                sometimes that means applying a gaussian readable.
              </p>
            </a>
            <br />
            <div #attachmentSection></div>
            <textarea
              placeholder="Please enter your note"
              id=""
              rows="3"
              required=""
              spellcheck="false"
              class="form-control"
            ></textarea>
            <br />
            <div class="d-flex btn_direction gap-2">
              <button
                type="button"
                class="btn btn-info waves-effect waves-light btn_width"
              >
                Cancel
              </button>
              <button
                type="button"
                class="btn btn-primary waves-effect waves-light btn_width"
              >
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- end card-body -->
    </div>
    <!-- end card -->
  </div>

  <div class="col-lg-11">
    <div id="section-4" class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Attachment</h4>
      </div>
      <!-- end card header -->

      <div class="card-body">
        <p class="text-muted"></p>

        <div class="dropzone dz-clickable">
          <div class="dz-message needsclick">
            <div class="mb-3">
              <i class="display-4 text-muted ri-upload-cloud-2-fill"></i>
            </div>
            <div #timeLineSection></div>

            <h4>Drop your files here or click to upload.</h4>
          </div>
        </div>

        <ul class="list-unstyled mb-0" id="dropzone-preview"></ul>
        <!-- end dropzon-preview -->
      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>

  <div class="col-lg-11">
    <div id="section-5" class="card">
      <div class="card-header align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">Left Timeline</h4>
      </div>
      <div>
        <div class="timeline-2">
          <div class="timeline-year">
            <p>12 Dec 2021</p>
          </div>
          <div class="timeline-continue">
            <div class="row timeline-right">
              <div class="col-12">
                <p class="timeline-date">02:35AM to 04:30PM</p>
              </div>
              <div class="col-12">
                <div class="timeline-box">
                  <div class="timeline-text">
                    <div class="d-flex">
                      <img
                        src="assets/images/users/avatar-7.jpg"
                        alt=""
                        class="avatar-sm rounded"
                      />
                      <div class="flex-grow-1 ms-3">
                        <h5 class="mb-1">Frank hook joined with our company</h5>
                        <p class="text-muted mb-0">
                          It makes a statement, it’s impressive graphic design.
                          Increase or decrease the letter spacing depending on
                          the situation and try, try again until it looks right,
                          and each letter has the perfect spot of its own.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row timeline-right">
              <div class="col-12">
                <p class="timeline-date">02:35AM to 04:30PM</p>
              </div>
              <div class="col-12">
                <div class="timeline-box">
                  <div class="timeline-text">
                    <h5>Trip planning</h5>
                    <p class="text-muted">
                      In the trip planner, keep only one or two activities in a
                      day if the purpose of the trip is to relax and take it
                      easy during the vacation :
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="timeline-year">
                  <p>08 Dec 2021</p>
                </div>
              </div>
            </div>

            <div class="row timeline-right">
              <div class="col-12">
                <p class="timeline-date">02:35AM to 04:30PM</p>
              </div>
              <div class="col-12">
                <div class="timeline-box">
                  <div class="timeline-text">
                    <h5>Velzon - Project Discussion</h5>
                    <p class="text-muted mb-0">
                      The purpose of the discussion is to interpret and describe
                      the significance of your findings in light of what was
                      already known about the research problem being
                      investigated, and to explain any new understanding or
                      fresh insights about the problem after you've taken the
                      findings into consideration.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row timeline-right">
              <div class="col-12">
                <p class="timeline-date">10:24AM to 11:15PM</p>
              </div>
              <div class="col-12">
                <div class="timeline-box">
                  <div class="timeline-text">
                    <h5>Client Meeting (Nancy Martino)</h5>
                    <p class="text-muted mb-0">
                      A client meeting, meaning, direct collaboration and
                      communication with a customer, is the best way to
                      understand their needs and how you can help support them.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row timeline-right">
              <div class="col-12">
                <p class="timeline-date">9:20AM to 10:05PM</p>
              </div>
              <div class="col-12">
                <div class="timeline-box">
                  <div class="timeline-text">
                    <h5>Designer &amp; Developer Meeting</h5>
                    <ul class="mb-0 text-muted vstack gap-2">
                      <li>Last updates</li>
                      <li>Weekly Planning</li>
                      <li>Work Distribution</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div #activitySection></div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div #activitySection class="col-xxl-11">
    <div id="section-6" class="card">
      <div class="card-header align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">Activities</h4>
        <button type="button" class="btn btn-primary waves-effect waves-light">
          <i class="las la-plus"></i> Add
        </button>
      </div>
      <div class="card-body">
        <!-- Nav tabs -->
        <ul
          ngbNav
          #Bordered="ngbNav"
          [activeId]="1"
          class="nav nav-tabs nav-tabs-custom nav-success nav-justified mb-3"
        >
          <li [ngbNavItem]="1">
            <a ngbNavLink> Task </a>
            <ng-template ngbNavContent>
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <i class="ri-checkbox-multiple-blank-fill text-success"></i>
                </div>
                <div class="flex-grow-1 ms-2">
                  <table class="table mb-0">
                    <thead>
                      <tr>
                        <th scope="col">Subject</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Task Owner</th>
                        <th scope="col">Status</th>
                        <th scope="col">Priority</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Call to John</td>
                        <td>24 Sep 2023</td>
                        <td>Mariana John</td>
                        <td>New</td>
                        <td>High</td>
                        <td>
                          <i class="las la-pen edit_icon"></i>
                          <i class="las la-trash-alt edit_icon"></i>
                        </td>
                      </tr>
                      <tr>
                        <td>Call to John</td>
                        <td>24 Sep 2023</td>
                        <td>Mariana John</td>
                        <td>New</td>
                        <td>High</td>
                        <td>
                          <i class="las la-pen edit_icon"></i>
                          <i class="las la-trash-alt edit_icon"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink> Appointment </a>
            <ng-template ngbNavContent>
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <i class="ri-checkbox-multiple-blank-fill text-success"></i>
                </div>
                <div class="flex-grow-1 ms-2">
                  <table class="table mb-0">
                    <thead>
                      <tr>
                        <th scope="col">Title</th>
                        <th scope="col">From</th>
                        <th scope="col">To</th>
                        <th scope="col">Host</th>
                        <th scope="col">Priority</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Appointment with Mr. Muhammed Al Jasser</td>
                        <td>18/10/2023 11:00 AM</td>
                        <td>18/10/2023 12:00 PM</td>
                        <td>Mariana John</td>
                        <td>High</td>
                        <td>
                          <i class="las la-pen edit_icon"></i>
                          <i class="las la-trash-alt edit_icon"></i>
                        </td>
                      </tr>
                      <tr>
                        <td>Appointment with Mr. Muhammed Al Jasser</td>
                        <td>18/10/2023 11:00 AM</td>
                        <td>18/10/2023 12:00 PM</td>
                        <td>Mariana John</td>
                        <td>High</td>
                        <td>
                          <i class="las la-pen edit_icon"></i>
                          <i class="las la-trash-alt edit_icon"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content text-muted">
          <div [ngbNavOutlet]="Bordered"></div>
        </div>
      </div>
      <!-- end card-body -->
    </div>
    <!-- end card -->
  </div>
</div>
<script type="text/javascript">
  $(".js-anchor-link").click(function (e) {
    e.preventDefault();
    var target = $($(this).attr("href"));
    if (target.length) {
      var scrollTo = target.offset().top;
      $("body, html").animate({ scrollTop: scrollTo + "px" }, 800);
    }
  });
</script>
