<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalFullscreenLabel">
      Lead information edit
    </h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="close()"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editleadsform">
      <div class="row">
        <div class="col-xxl-12 col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="live-preview">
                <div class="row gy-4">
                  <div class="col-xxl-12 col-md-12">
                    <h6 class="card-title mb-4">
                      <u>Lead Information</u>
                    </h6>
                  </div>
                  <div class="col-xxl-4 col-md-6">
                    <label>Lead Owner:</label>
                    <select
                      class="form-select"
                      formControlName="leadOwner"
                      [ngClass]="{
                        'is-invalid': submitted && form['leadOwner'].errors
                      }"
                    >
                      <option value="Mariana John">Mariana John</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                    <div
                      *ngIf="submitted && form['leadOwner'].errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="form['leadOwner'].errors['required']">
                        valid Lead Owner name is required
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-4 col-md-6">
                    <label>Mobile:</label>
                    <input
                      type="number"
                      class="form-control form-control-sm"
                      id="mobile"
                      formControlName="mobile"
                      [ngClass]="{ 'is-invalid': form['mobile'].errors }"
                    />
                    <div *ngIf="form['mobile'].errors" class="invalid-feedback">
                      <div *ngIf="form['mobile'].errors['required']">
                        Mobile is required
                      </div>
                      <div *ngIf="form['mobile'].errors['pattern']">
                        Mobile pattern is invalid
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-4 col-md-6">
                    <label>Alternate Number:</label>
                    <input
                      type="number"
                      class="form-control form-control-sm"
                      id="alternateNumber"
                      formControlName="alternateNumber"
                      [ngClass]="{
                        'is-invalid': form['alternateNumber'].errors
                      }"
                    />
                    <div
                      *ngIf="form['alternateNumber'].errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="form['alternateNumber'].errors['required']">
                        Alternate Number is required
                      </div>
                      <div *ngIf="form['alternateNumber'].errors['pattern']">
                        Alternate Number pattern is invalid
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-4 col-md-6">
                    <label>Website:</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="website"
                      formControlName="website"
                      [ngClass]="{ 'is-invalid': form['website'].errors }"
                    />
                    <div
                      *ngIf="form['website'].errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="form['website'].errors['required']">
                        Website is required
                      </div>
                      <div *ngIf="form['website'].errors['pattern']">
                        Website pattern is invalid
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-4 col-md-6">
                    <label>Annual Revenue:</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="annualRevenue"
                      formControlName="annualRevenue"
                    />
                  </div>
                  <div class="col-xxl-4 col-md-6">
                    <label>Created By:</label>
                    <select class="form-select" formControlName="createdBy">
                      <option value="Mariana John">Mariana John</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                  <div class="col-xxl-4 col-md-6">
                    <label>Lead Name:</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="leadName"
                      formControlName="leadName"
                      [ngClass]="{
                        'is-invalid': submitted && form['leadName'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && form['leadName'].errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="form['leadName'].errors['required']">
                        Lead Name is required
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-4 col-md-6">
                    <label>Company:</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="company"
                      formControlName="company"
                      [ngClass]="{
                        'is-invalid': submitted && form['company'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && form['company'].errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="form['company'].errors['required']">
                        Lead Name is required
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-4 col-md-6">
                    <label>Lead Source:</label>
                    <select
                      class="form-select"
                      formControlName="leadSource"
                      [ngClass]="{
                        'is-invalid': submitted && form['leadSource'].errors
                      }"
                    >
                      <option value="Facebook">Facebook</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                    <div
                      *ngIf="submitted && form['leadSource'].errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="form['leadSource'].errors['required']">
                        valid Lead Owner name is required
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-4 col-md-6">
                    <label>Marital Status:</label>
                    <select class="form-select" formControlName="maritalStatus">
                      <option value="Married">Married</option>
                      <option value="1">Single</option>
                      <option value="2">Divorced</option>
                      <option value="3">Seperated</option>
                    </select>
                  </div>
                  <div class="col-xxl-4 col-md-6">
                    <label>Modified By:</label>
                    <select class="form-select" formControlName="modifiedBy">
                      <option value="Mariana John">Mariana John</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                  <div class="col-xxl-4 col-md-6">
                    <label>Designation:</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="designation"
                      formControlName="designation"
                      [ngClass]="{
                        'is-invalid': submitted && form['designation'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && form['designation'].errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="form['designation'].errors['required']">
                        Designation is required
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-4 col-md-6">
                    <label>Lead Status:</label>
                    <select
                      class="form-select"
                      formControlName="leadStatus"
                      [ngClass]="{
                        'is-invalid': submitted && form['leadStatus'].errors
                      }"
                    >
                      <option value="1">New</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                    <div
                      *ngIf="submitted && form['leadStatus'].errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="form['leadStatus'].errors['required']">
                        Lead Status is required
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-4 col-md-6">
                    <label>Nationality:</label>
                    <select class="form-select" formControlName="nationality">
                      <option value="Qatar">Qatar</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                  <div class="col-xxl-4 col-md-6">
                    <label>Industry:</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="industry"
                      formControlName="industry"
                      [ngClass]="{
                        'is-invalid': submitted && form['industry'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && form['industry'].errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="form['industry'].errors['required']">
                        Industry is required
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-4 col-md-6">
                    <label>Preferred time to call:</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="preferredTimeToCall"
                      formControlName="preferredTimeToCall"
                      [ngClass]="{
                        'is-invalid':
                          submitted &&
                          form['preferredTimeToCall'].errors &&
                          form['preferredTimeToCall'].value !== ''
                      }"
                    />
                    <div
                      *ngIf="
                        submitted &&
                        form['preferredTimeToCall'].errors &&
                        form['preferredTimeToCall'].value !== ''
                      "
                      class="invalid-feedback"
                    >
                      <div
                        *ngIf="form['preferredTimeToCall'].errors['required']"
                      >
                        Preferred Time to Call is required
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-12 col-md-12">
                    <h6 class="card-title mb-4">
                      <u>Address Information</u>
                    </h6>
                  </div>
                  <div class="col-xxl-4 col-md-6">
                    <label class="form-label" for="des-info-description-input"
                      >Address</label
                    >
                    <textarea
                      class="form-control"
                      id="des-info-description-input"
                      rows="3"
                      formControlName="address"
                      spellcheck="false"
                      [ngClass]="{
                        'is-invalid': submitted && form['address'].errors
                      }"
                    ></textarea>
                    <!-- <div class="invalid-feedback">
  Please enter an Address
  </div> -->
                    <div
                      *ngIf="submitted && form['address'].errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="form['address'].errors['required']">
                        Address is required
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--card body end-->
          </div>
          <!--card end-->
        </div>
      </div>
      <div class="row">
        <div class="col-xxl-12 col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-xxl-12 col-lg-12">
                  <div class="live-preview">
                    <div class="row gy-4">
                      <div class="col-xxl-12 col-lg-12">
                        <h6 class="card-title mb-4">
                          <u>Property Prefference</u>
                        </h6>
                      </div>
                      <div class="col-xxl-2 col-lg-3">
                        <div class="form-check">
                          <input
                            type="radio"
                            formControlName="selectedBlock"
                            [value]="'residential'"
                            [(ngModel)]="selectedBlock"
                            (change)="onSelectedBlockChange()"
                          />
                          <label class="form-check-label" for="residential"
                            >Residential</label
                          >
                        </div>
                      </div>
                      <div class="col-xxl-2 col-lg-3">
                        <div class="form-check">
                          <input
                            type="radio"
                            formControlName="selectedBlock"
                            [value]="'commercial'"
                            [(ngModel)]="selectedBlock"
                            (change)="onSelectedBlockChange()"
                          />
                          <label class="form-check-label" for="commercial"
                            >Commercial</label
                          >
                        </div>
                      </div>
                      <div
                        *ngIf="selectedBlock === 'residential'"
                        class="residential"
                      >
                        <div class="row gy-4">
                          <h6>residential</h6>
                          <div class="col-xxl-4 col-lg-6">
                            <label>Desired Property Location :</label>
                            <select
                              class="form-select"
                              formControlName="desiredpropertylocation"
                              [ngClass]="{
                                'is-invalid':
                                  submitted &&
                                  form['desiredpropertylocation'].errors
                              }"
                            >
                              <option value="doha">Doha</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                            <div
                              *ngIf="
                                submitted &&
                                form['desiredpropertylocation'].errors
                              "
                              class="invalid-feedback"
                            >
                              <div
                                *ngIf="
                                  form['desiredpropertylocation'].errors[
                                    'required'
                                  ]
                                "
                              >
                                Desired property Location is required
                              </div>
                            </div>
                          </div>
                          <div class="col-xxl-4 col-lg-6">
                            <label>Preferred Neighbourhood:</label>
                            <select
                              class="form-select"
                              formControlName="prefferedneighbourhood"
                              [ngClass]="{
                                'is-invalid':
                                  submitted &&
                                  form['prefferedneighbourhood'].errors
                              }"
                            >
                              <option value="doha">Doha</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                            <div
                              *ngIf="
                                submitted &&
                                form['prefferedneighbourhood'].errors
                              "
                              class="invalid-feedback"
                            >
                              <div
                                *ngIf="
                                  form['prefferedneighbourhood'].errors[
                                    'required'
                                  ]
                                "
                              >
                                Preffered Neighbourhood is required
                              </div>
                            </div>
                          </div>
                          <div class="col-xxl-4 col-lg-6">
                            <label>Number of Bedrooms:</label>
                            <select
                              class="form-select"
                              formControlName="numberofbedrooms"
                              [ngClass]="{
                                'is-invalid':
                                  submitted && form['numberofbedrooms'].errors
                              }"
                            >
                              <option value="2">2</option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                            </select>
                            <div
                              *ngIf="
                                submitted && form['numberofbedrooms'].errors
                              "
                              class="invalid-feedback"
                            >
                              <div
                                *ngIf="
                                  form['numberofbedrooms'].errors['required']
                                "
                              >
                                Number of Bedrooms is required
                              </div>
                            </div>
                          </div>
                          <div class="col-xxl-4 col-lg-6">
                            <label>Number of Bathroom:</label>
                            <select
                              class="form-select"
                              formControlName="numberofbathrooms"
                              [ngClass]="{
                                'is-invalid':
                                  submitted && form['numberofbathrooms'].errors
                              }"
                            >
                              <option value="2">2</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                            <div
                              *ngIf="
                                submitted && form['numberofbathrooms'].errors
                              "
                              class="invalid-feedback"
                            >
                              <div
                                *ngIf="
                                  form['numberofbathrooms'].errors['required']
                                "
                              >
                                Number of Bathrooms is required
                              </div>
                            </div>
                          </div>
                          <div class="col-xxl-4 col-lg-6">
                            <label>Price Range:</label>
                            <select
                              class="form-select"
                              formControlName="pricerange"
                              [ngClass]="{
                                'is-invalid':
                                  submitted && form['pricerange'].errors
                              }"
                            >
                              <option value="">1000 - 2000 QAR</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                            <div
                              *ngIf="submitted && form['pricerange'].errors"
                              class="invalid-feedback"
                            >
                              <div
                                *ngIf="form['pricerange'].errors['required']"
                              >
                                Price Range is required
                              </div>
                            </div>
                          </div>
                          <div class="col-xxl-4 col-lg-6">
                            <label>Building Type:</label>
                            <select
                              class="form-select"
                              formControlName="buildingtype"
                              [ngClass]="{
                                'is-invalid':
                                  submitted && form['buildingtype'].errors
                              }"
                            >
                              <option value="">Tower</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                            <div
                              *ngIf="submitted && form['buildingtype'].errors"
                              class="invalid-feedback"
                            >
                              <div
                                *ngIf="form['buildingtype'].errors['required']"
                              >
                                Building Type is required
                              </div>
                            </div>
                          </div>
                          <div class="col-xxl-4 col-lg-6">
                            <label>Unit Type:</label>
                            <select
                              class="form-select"
                              formControlName="unittype"
                              [ngClass]="{
                                'is-invalid':
                                  submitted && form['unittype'].errors
                              }"
                            >
                              <option value="">2BHK</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                            <div
                              *ngIf="submitted && form['unittype'].errors"
                              class="invalid-feedback"
                            >
                              <div *ngIf="form['unittype'].errors['required']">
                                Unit Type is required
                              </div>
                            </div>
                          </div>
                          <div class="col-xxl-4 col-lg-6">
                            <label>Floor Preference:</label>
                            <select
                              class="form-select"
                              formControlName="floorpreference"
                              [ngClass]="{
                                'is-invalid':
                                  submitted && form['floorpreference'].errors
                              }"
                            >
                              <option value="">Second Floor</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                            <div
                              *ngIf="
                                submitted && form['floorpreference'].errors
                              "
                              class="invalid-feedback"
                            >
                              <div
                                *ngIf="
                                  form['floorpreference'].errors['required']
                                "
                              >
                                Floor Preference is required
                              </div>
                            </div>
                          </div>
                          <div class="col-xxl-4 col-lg-6">
                            <label>View Preference:</label>
                            <select
                              class="form-select"
                              formControlName="viewpreference"
                              [ngClass]="{
                                'is-invalid':
                                  submitted && form['viewpreference'].errors
                              }"
                            >
                              <option value="">Sea View</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                            <div
                              *ngIf="submitted && form['viewpreference'].errors"
                              class="invalid-feedback"
                            >
                              <div
                                *ngIf="
                                  form['viewpreference'].errors['required']
                                "
                              >
                                View Preference is required
                              </div>
                            </div>
                          </div>
                          <div class="col-xxl-12 col-lg-12">
                            <h6 class="card-title mb-4 mt-4">
                              <u>Description</u>
                            </h6>
                          </div>
                          <div class="col-xxl-12 col-lg-12">
                            <textarea
                              style="width: 90% !important"
                              formControlName="description"
                              [ngClass]="{
                                'is-invalid':
                                  submitted && form['description'].errors
                              }"
                              rows="5"
                              cols="40"
                            ></textarea>
                            <div
                              *ngIf="submitted && form['description'].errors"
                              class="invalid-feedback"
                            >
                              <div
                                *ngIf="form['description'].errors['required']"
                              >
                                Description is required
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        *ngIf="selectedBlock === 'commercial'"
                        class="commercial"
                      >
                        <div class="row gy-4">
                          <h6>commercial</h6>
                          <div class="col-xxl-4 col-lg-6">
                            <label>Desired Property Location :</label>
                            <select
                              class="form-select"
                              formControlName="desiredpropertylocationcom"
                              [ngClass]="{
                                'is-invalid':
                                  submitted &&
                                  form['desiredpropertylocationcom'].errors
                              }"
                            >
                              <option value="">Doha</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                            <div
                              *ngIf="
                                submitted &&
                                form['desiredpropertylocationcom'].errors
                              "
                              class="invalid-feedback"
                            >
                              <div
                                *ngIf="
                                  form['desiredpropertylocationcom'].errors[
                                    'required'
                                  ]
                                "
                              >
                                Desired property location is required
                              </div>
                            </div>
                          </div>
                          <div class="col-xxl-4 col-lg-6">
                            <label>Preferred Neighbourhood:</label>
                            <select
                              class="form-select"
                              formControlName="prefferedneighbourhoodcom"
                              [ngClass]="{
                                'is-invalid':
                                  submitted &&
                                  form['prefferedneighbourhoodcom'].errors
                              }"
                            >
                              <option value="">Doha</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                            <div
                              *ngIf="
                                submitted &&
                                form['prefferedneighbourhoodcom'].errors
                              "
                              class="invalid-feedback"
                            >
                              <div
                                *ngIf="
                                  form['prefferedneighbourhoodcom'].errors[
                                    'required'
                                  ]
                                "
                              >
                                Prefferd Neighbourhood is required
                              </div>
                            </div>
                          </div>
                          <div class="col-xxl-4 col-lg-6">
                            <label>Number of Bedrooms:</label>
                            <select
                              class="form-select"
                              formControlName="numberofbedrooms"
                              [ngClass]="{
                                'is-invalid':
                                  submitted &&
                                  form['numberofbedroomscom'].errors
                              }"
                            >
                              <option value="2">2</option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                            </select>
                            <div
                              *ngIf="
                                submitted && form['numberofbedroomscom'].errors
                              "
                              class="invalid-feedback"
                            >
                              <div
                                *ngIf="
                                  form['numberofbedroomscom'].errors['required']
                                "
                              >
                                Number of Bedrooms is required
                              </div>
                            </div>
                          </div>
                          <div class="col-xxl-4 col-lg-6">
                            <label>Number of Bathroom:</label>
                            <select
                              class="form-select"
                              formControlName="numberofbathroomscom"
                              [ngClass]="{
                                'is-invalid':
                                  submitted &&
                                  form['numberofbathroomscom'].errors
                              }"
                            >
                              <option value="">2</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                            <div
                              *ngIf="
                                submitted && form['numberofbathroomscom'].errors
                              "
                              class="invalid-feedback"
                            >
                              <div
                                *ngIf="
                                  form['numberofbathroomscom'].errors[
                                    'required'
                                  ]
                                "
                              >
                                Number of Bathrooms is required
                              </div>
                            </div>
                          </div>
                          <div class="col-xxl-4 col-lg-6">
                            <label>Price Range:</label>
                            <select
                              class="form-select"
                              formControlName="pricerangecom"
                              [ngClass]="{
                                'is-invalid':
                                  submitted && form['pricerangecom'].errors
                              }"
                            >
                              <option value="">1000 - 2000 QAR</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                            <div
                              *ngIf="submitted && form['pricerangecom'].errors"
                              class="invalid-feedback"
                            >
                              <div
                                *ngIf="form['pricerangecom'].errors['required']"
                              >
                                Price Range is required
                              </div>
                            </div>
                          </div>
                          <div class="col-xxl-4 col-lg-6">
                            <label>Building Type:</label>
                            <select
                              class="form-select"
                              formControlName="buildingtypecom"
                              [ngClass]="{
                                'is-invalid':
                                  submitted && form['buildingtypecom'].errors
                              }"
                            >
                              <option value="">Tower</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                            <div
                              *ngIf="submitted && form['buildingtype'].errors"
                              class="invalid-feedback"
                            >
                              <div
                                *ngIf="form['buildingtype'].errors['required']"
                              >
                                Building type is required
                              </div>
                            </div>
                          </div>
                          <div class="col-xxl-4 col-lg-6">
                            <label>Unit Type:</label>
                            <select
                              class="form-select"
                              formControlName="unittypecom"
                              [ngClass]="{
                                'is-invalid':
                                  submitted && form['unittypecom'].errors
                              }"
                            >
                              <option value="">2BHK</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                            <div
                              *ngIf="submitted && form['unittypecom'].errors"
                              class="invalid-feedback"
                            >
                              <div
                                *ngIf="form['unittypecom'].errors['required']"
                              >
                                Unit type is required
                              </div>
                            </div>
                          </div>
                          <div class="col-xxl-4 col-lg-6">
                            <label>Floor Preference:</label>
                            <select
                              class="form-select"
                              formControlName="floorpreferencecom"
                              [ngClass]="{
                                'is-invalid':
                                  submitted && form['floorpreferencecom'].errors
                              }"
                            >
                              <option value="">Second Floor</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                            <div
                              *ngIf="
                                submitted && form['floorpreferencecom'].errors
                              "
                              class="invalid-feedback"
                            >
                              <div
                                *ngIf="
                                  form['floorpreferencecom'].errors['required']
                                "
                              >
                                Floor Preference is required
                              </div>
                            </div>
                          </div>
                          <div class="col-xxl-4 col-lg-6">
                            <label>View Preference:</label>
                            <select
                              class="form-select"
                              formControlName="viewpreferencecom"
                              [ngClass]="{
                                'is-invalid':
                                  submitted && form['viewpreferencecom'].errors
                              }"
                            >
                              <option value="">Sea View</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                            <div
                              *ngIf="
                                submitted && form['viewpreferencecom'].errors
                              "
                              class="invalid-feedback"
                            >
                              <div
                                *ngIf="
                                  form['viewpreferencecom'].errors['required']
                                "
                              >
                                View Preference is required
                              </div>
                            </div>
                          </div>
                          <div class="col-xxl-12 col-lg-12">
                            <h6 class="card-title mb-4 mt-4">
                              <u>Description</u>
                            </h6>
                          </div>
                          <div class="col-xxl-12 col-lg-12">
                            <textarea
                              style="width: 90% !important"
                              formControlName="descriptioncom"
                              rows="5"
                              cols="40"
                            ></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-8 col-lg-6"></div>
                      <div class="col-xxl-4 col-lg-6"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  >

  <div class="modal-footer">
    <a
      href="javascript:void(0);"
      class="btn btn-link link-success fw-medium"
      data-bs-dismiss="modal"
      (click)="close()"
      ><i class="ri-close-line me-1 align-middle"></i> Close</a
    >
    <button type="button" (click)="submitForm()" class="btn btn-primary">
      Save changes
    </button>
  </div>
</div>
<!-- /.modal-content -->
<!-- /.modal-dialog -->
