.modal-content-container {
  max-height: 60vh; /* Adjust the max-height as needed */
  overflow-y: auto;
}

.modal-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  background-color: #f9f9f9; /* Optional: Add a background color */
}