<div class="row">
  <div class="col-xxl-12 col-lg-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title mb-0">{{ leadsInformation.leadName }}</h3>
        <h6>#{{ leadsInformation.leadId }} {{ leadsInformation.CreatedOn }}</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-xxl-10 col-lg-10">
            <div class="card">
              <!-- <div class="card-header">
                  <h6 class="card-title mb-0">Creative Agency Quote</h6>
                </div> -->
              <div class="card-body grey-bg-color">
                <div>
                  <h6 class="card-title mb-4">
                    <u>Lead Information</u
                    ><a (click)="leadInfoReadMode = !leadInfoReadMode"
                      ><i class="mdi mdi-file-edit-outline ml-10"></i
                    ></a>
                  </h6>
                </div>
                <div class="row">
                  <div class="col-lg-3">
                    <div class="form-group mb-4">
                      <label>Lead Owner:</label>
                      <input
                        type="text"
                        value="{{ leadsInformation.leadOwner }}"
                        [disabled]="leadInfoReadMode"
                      />
                    </div>
                    <div class="form-group mb-4">
                      <label>Alternate Number:</label>
                      <input
                        type="text"
                        value="{{ leadsInformation.alternateNumber }}"
                        [disabled]="leadInfoReadMode"
                      />
                    </div>
                    <div class="form-group mb-4">
                      <label>Website:</label>
                      <input
                        type="text"
                        value="{{ leadsInformation.website }}"
                        [disabled]="leadInfoReadMode"
                      />
                    </div>
                    <div class="form-group mb-4">
                      <label>Annual Revenue:</label>
                      <input
                        type="text"
                        value="{{ leadsInformation.annualRevenue }}"
                        [disabled]="leadInfoReadMode"
                      />
                    </div>
                    <div class="form-group mb-4">
                      <label>Created By:</label>
                      <input
                        type="text"
                        value="{{ leadsInformation.createdBy }}"
                        [disabled]="leadInfoReadMode"
                      />
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-group mb-4">
                      <label>Lead Name:</label>
                      <input
                        type="text"
                        value="{{ leadsInformation.leadName }}"
                        [disabled]="leadInfoReadMode"
                      />
                    </div>
                    <div class="form-group mb-4">
                      <label>Company:</label>
                      <input
                        type="text"
                        value="{{ leadsInformation.company }}"
                        [disabled]="leadInfoReadMode"
                      />
                    </div>
                    <div class="form-group mb-4">
                      <label>Lead Source:</label>
                      <input
                        type="text"
                        value="{{ leadsInformation.leadSource }}"
                        [disabled]="leadInfoReadMode"
                      />
                    </div>
                    <div class="form-group mb-4">
                      <label>Marital Status:</label>
                      <input
                        type="text"
                        value="{{ leadsInformation.martialStatus }}"
                        [disabled]="leadInfoReadMode"
                      />
                    </div>
                    <div class="form-group mb-4">
                      <label>Modified By:</label>
                      <input
                        type="text"
                        value="{{ leadsInformation.modifiedBy }}"
                        [disabled]="leadInfoReadMode"
                      />
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="mb-4">{{ "" }}</div>
                    <div class="form-group mb-4">
                      <label>Designation:</label>
                      <input
                        type="text"
                        value="{{ leadsInformation.designation }}"
                        [disabled]="leadInfoReadMode"
                      />
                    </div>
                    <div class="form-group mb-4">
                      <label>Lead Status:</label>
                      <input
                        type="text"
                        value="{{ leadsInformation.leadStatus }}"
                        [disabled]="leadInfoReadMode"
                      />
                    </div>
                    <div class="form-group mb-4">
                      <label>Nationality:</label>
                      <input
                        type="text"
                        value="{{ leadsInformation.nationality }}"
                        [disabled]="leadInfoReadMode"
                      />
                    </div>
                    <div class="mb-4">{{ "" }}</div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-group mb-4">
                      <label>Mobile:</label>
                      <input
                        type="text"
                        value="{{ leadsInformation.phoneNumber }}"
                        [disabled]="leadInfoReadMode"
                      />
                    </div>
                    <div class="form-group mb-4">
                      <label>Industry:</label>
                      <input
                        type="text"
                        value="{{ leadsInformation.industry }}"
                        [disabled]="leadInfoReadMode"
                      />
                    </div>
                    <div class="mb-4">{{ "" }}</div>
                    <div class="form-group mb-4">
                      <label>Preferred time to call:</label>
                      <input
                        type="text"
                        value="{{ leadsInformation.preferredTimeToCall }}"
                        [disabled]="leadInfoReadMode"
                      />
                    </div>
                    <div class="mb-4">{{ "" }}</div>
                  </div>
                </div>
                <div>
                  <h6 class="card-title mb-4">
                    <u>Address Information</u
                    ><a (click)="addressReadMode = !addressReadMode"
                      ><i class="mdi mdi-file-edit-outline ml-10"></i
                    ></a>
                  </h6>
                </div>
                <div class="form-group mb-4">
                  <label>Current Address:</label>
                  <textarea
                    value="{{ leadsInformation.address }}"
                    [disabled]="addressReadMode"
                    rows="2"
                    cols="40"
                  ></textarea>
                </div>
                <!-- <div>Current Address: {{ leadsInformation.address }}</div> -->

                <div>
                  <h6 class="card-title mb-4 mt-4">
                    <u>Property Prefference</u
                    ><a><i class="mdi mdi-file-edit-outline ml-10"></i></a>
                  </h6>
                </div>
                <div class="row g-2">
                  <div class="col-lg-2">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="residential"
                        value="residential"
                        checked
                      />
                      <label class="form-check-label" for="residential"
                        >Residential</label
                      >
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="commercial"
                        value="commercial"
                      />
                      <label class="form-check-label" for="commercial"
                        >Residential</label
                      >
                    </div>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-lg-12 border">
                    <div class="row mt-2">
                      <div class="col-lg-3">
                        Desired Property Location: Doha
                      </div>
                      <div class="col-lg-3">Preferred Neighbourhood: None</div>
                      <div class="col-lg-3">Number of Bedrooms: 2</div>
                      <div class="col-lg-3">Number of Bathroom: 2</div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-lg-3">Price Range: QAR 1000 - 2000</div>
                    </div>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-lg-12 border">
                    <div class="row mt-2">
                      <div class="col-lg-3">Building Type: Tower</div>
                      <div class="col-lg-3">Unit Type: 2BHK</div>
                    </div>
                  </div>
                </div>

                <div class="row mt-4">
                  <div class="col-lg-12 border">
                    <div class="row mt-2">
                      <div class="col-lg-3">Floor Preference: Second Floor</div>
                      <div class="col-lg-3">View Preference: Sea View</div>
                    </div>
                  </div>
                </div>

                <div>
                  <h6 class="card-title mb-4 mt-4">
                    <u>Description</u
                    ><a (click)="descriptionReadMode = !descriptionReadMode"
                      ><i class="mdi mdi-file-edit-outline ml-10"></i
                    ></a>
                  </h6>
                  <p *ngIf="descriptionReadMode">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a
                    type specimen book. It has survived not only five centuries,
                    but also the leap into electronic typesetting, remaining
                    essentially unchanged. It was popularised in the 1960s with
                    the release of Letraset sheets containing Lorem Ipsum
                    passages, and more recently with desktop publishing software
                    like Aldus PageMaker including versions of Lorem Ipsum.
                  </p>
                  <textarea
                    style="width: 90% !important"
                    *ngIf="!descriptionReadMode"
                    value="Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry."
                    rows="5"
                    cols="40"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
