.grey-bg-color {
  background-color: var(--vz-topbar-user-bg) !important;
}
.border {
  border: solid !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: black !important;
}
