<div class="row">
  <div *ngIf="showFilter" class="col-xl-3 col-lg-6">
    <app-table-filter></app-table-filter>
  </div>

  <div [ngClass]="showFilter ? 'col-xl-9 col-lg-8' : 'col-xl-12 col-lg-12'">
    <div>
      <div class="card">
        <div class="card-header border-0">
          <div class="row g-4">
            <div class="col-sm-auto">
              <div>
                <a (click)="openEnd(filtetcontent)" class="btn btn-success"
                  ><i class="ri-add-line align-bottom me-1"></i> Add Lead</a
                >
                <a (click)="showFilter = !showFilter" style="margin-left: 10px">
                  <i class="mdi mdi-filter-outline mdi-cog-outline fs-22"></i>
                </a>
              </div>
            </div>
            <div class="col-sm">
              <div class="d-flex justify-content-sm-end">
                <div class="search-box ms-2">
                  <input
                    type="text"
                    name="searchTerm"
                    class="form-control"
                    placeholder="Search Products..."
                  />
                  <i class="ri-search-line search-icon"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="row align-items-center">
            <div class="col">
              <!-- Nav tabs -->

              <!-- <ng-template> -->
              <div class="mt-3">
                <div class="table-card gridjs-border-none">
                  <div class="table-responsive">


                    <table class="table">
                      <thead>
                        <tr class="bg-light text-muted text-uppercase">
                          <th scope="col" style="width: 25px;">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="checkAll" value="option"
                                [(ngModel)]="masterSelected" (change)="checkUncheckAll($event)">
                            </div>
                          </th>
                          <th class="sort" >Order ID</th>
                          <th class="sort">Customer</th>
                          <th class="sort" >Product</th>
                          <th class="sort">Order Date</th>
                          <th class="sort" >Amount</th>
                          <th class="sort" >Payment Method</th>
                          <th class="sort" >Delivery Status</th>
                          <th class="sort">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of orderes" id="o_{{data._id}}">
                          <th scope="row">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="checkAll" value="{{data._id}}"
                                [(ngModel)]="data.state" (change)="onCheckboxChange($event)">
                            </div>
                          </th>
                          <td><a routerLink="/ecommerce/order-details">
                              <ngb-highlight [result]="data.orderId" [term]="service.searchTerm"></ngb-highlight>
                            </a></td>
                          <td>
                            <ngb-highlight [result]="data.customer" [term]="service.searchTerm"></ngb-highlight>
                          </td>
                          <td>
                            <ngb-highlight [result]="data.product" [term]="service.searchTerm"></ngb-highlight>
                          </td>
                          <td>
                            <ngb-highlight [result]="data.orderDate | date :'longDate'" [term]="service.searchTerm">
                            </ngb-highlight>
                          </td>
                          <td>
                            <ngb-highlight [result]="data.amount" [term]="service.searchTerm"></ngb-highlight>
                          </td>
                          <td>
                            <ngb-highlight [result]="data.payment" [term]="service.searchTerm"></ngb-highlight>
                          </td>
                          <td class="status"><span class="badge text-uppercase"
                              [ngClass]=" { 'bg-warning-subtle text-warning': data.status === 'Pending', 'bg-danger-subtle text-danger': data.status === 'Cancelled', 'bg-secondary-subtle text-secondary': data.status === 'Inprogress', 'bg-info-subtle text-info': data.status === 'Pickups', 'bg-primary-subtle text-primary': data.status === 'Returns', 'bg-success-subtle text-success': data.status === 'Delivered' }">{{data.status}}</span>
                          </td>
                          <td>
                            <ul class="list-inline hstack gap-2 mb-0">
                              <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover"
                                ngbTooltip="View" placement="top">
                                <a routerLink="/ecommerce/order-details" class="text-primary d-inline-block">
                                  <i class="ri-eye-fill fs-16"></i>
                                </a>
                              </li>
                              <li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover"
                                ngbTooltip="Edit" placement="top">
                                <a href="javascript:void(0);" data-bs-toggle="modal"
                                  class="text-primary d-inline-block edit-item-btn" data-bs-toggle="modal" id="create-btn"
                                  data-bs-target="#showModal" (click)="editDataGet(data._id,content)">
                                  <i class="ri-pencil-fill fs-16"></i>
                                </a>
                              </li>
                              <!-- <li class="list-inline-item me-0" ngbTooltip="Remove" placement="top"
                                data-bs-toggle="tooltip" data-bs-trigger="hover" (click)="confirm(deleteModel,data._id)">
                                <a class="text-danger d-inline-block remove-item-btn" data-bs-toggle="modal"
                                  data-bs-target="#deleteOrder">
                                  <i class="ri-delete-bin-5-fill fs-16"></i>
                                </a>
                              </li> -->
                            </ul>
                          </td>
                        </tr>
                      </tbody>
                    </table>

             

                  </div>
                  <div class="px-3">
                    <div
                      class="row justify-content-md-between align-items-md-center g-0 pagination"
                    >
                      <div class="col-sm-12 col-md-5">
                        <div
                          class="dataTables_info mb-2"
                          id="tickets-table_info"
                          role="status"
                          aria-live="polite"
                        >
                          Showing 1 to 20 of 30 entries
                        </div>
                      </div>
                      <!-- Pagination -->
                      <div class="col-sm-12 col-md-5">
                        <div
                          class="text-md-right float-md-end pagination-rounded gridjs-pagination mb-3"
                        >
                          <!-- <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page"
                                    [pageSize]="service.pageSize">
                                  </ngb-pagination> -->
                        </div>
                      </div>
                      <!-- End Pagination -->
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane alltable d-none"
                id="productnav-draft"
                role="tabpanel"
              >
                <div class="py-4 text-center">
                  <div>
                    <lord-icon
                      src="https://cdn.lordicon.com/msoeawqm.json"
                      trigger="loop"
                      colors="primary:#405189,secondary:#0ab39c"
                      style="width: 72px; height: 72px"
                    >
                    </lord-icon>
                  </div>
                  <div class="mt-4">
                    <h5>Sorry! No Result Found</h5>
                  </div>
                </div>
              </div>
              <!-- </ng-template> -->
            </div>
            <div class="col-auto">
              <!-- <div id="selection-element">
                  <div class="my-n1 d-flex align-items-center text-muted">
                    Select <div id="select-content" class="text-body fw-semibold px-1">1</div> Result <button
                      type="button" class="btn btn-link link-danger p-0 ms-3" data-bs-toggle="modal"
                      data-bs-target="#removeItemModal" (click)="confirm(content,'')">Remove</button>
                  </div>
                </div> -->
            </div>

            <!-- Tab panes -->
            <div class="tab-content text-muted mt-3">
              <!-- <div [ngbNavOutlet]="nav"></div> -->
            </div>
            <!-- <div id="elmLoader">
              <div class="spinner-border text-primary avatar-sm" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <!-- end card -->
    </div>
  </div>
</div>

<!-- add leads start plus icon-->

<!-- <div class="customizer-setting d-none d-md-block">
  <div
    class="btn-info rounded-pill shadow-lg btn btn-icon btn-lg p-2"
    data-bs-toggle="offcanvas"
    data-bs-target="#theme-settings-offcanvas-addleads"
    aria-controls="theme-settings-offcanvas-addleads"
    (click)="openEnd(filtetcontent)"
  >
    <i class="mdi mdi-plus mdi-cog-outline fs-22"></i>
  </div>
</div> -->

<!-- Add Leads -->
<ng-template #filtetcontent let-offcanvas>
  <div
    class="d-flex align-items-center bg-primary bg-gradient p-3 offcanvas-header"
  >
    <h5 class="m-0 me-2 text-white">Add Leads</h5>
    <button
      type="button"
      class="btn-close btn-close-white ms-auto"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
      (click)="offcanvas.dismiss('Cross click')"
    ></button>
  </div>
  <div class="offcanvas-body p-0">
    <app-addleads></app-addleads>
  </div>
</ng-template>
