/* You can add global styles to this file, and also import other style files */
// Swiper
.coverflowslide .slide {
    position: relative;
    transition: transform 0.3s;
}

.coverflowslide .slick-list {
    overflow: hidden !important;
}

.coverflowslide .slick-center {
    transform: scale(1.2); // Adjust the scale factor for the "Coverflow" effect
    z-index: 1;
}

.coverflowslide .carousel {
    width: 100%;
    max-width: 600px; // Adjust the carousel width as needed
    margin: 0 auto;
}

.space .slick-slide {
    margin: 10px;
}
h1, h2, h3, h4, h5, h6 {color:#184568 !important; }
.btn-success, .btn-icon:hover {background-color:#184568 !important; }
.btn-success:hover {background-color:#25608E !important; }
	.ri-settings-4-line:before {color: #184568;}
.btn-soft-info:hover .ri-settings-4-line:before {color: #fff;}
.page-link.active, .active > .page-link {background-color:#184568 !important; }
.padding_btm_none, .auth-page-content {padding-bottom:0 !important; height: 100vh;}
.card{margin-bottom: 0px!important;}
.full-height {height: 100vh !important;}
.bg_full_width, .bg-overlay {height: 100vh!important;}
.auth-one-bg {height: 100vh!important;}
.center_align {margin: auto 0;}
.container-fluid {padding: 0!important;}